@model App_Layer.BillingDetails
@{
    Layout = null;
}
<div class="bs-example">
    <div class="accordion" id="accordionExample1">

        <div class="second-tab">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive opd-table1">
                        <table class="table" id="tblCustomers">
                            <thead>
                                <tr>
                                    <th>Service Name</th>
                                    <th>Bill</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.lst.Count != 0)
                                {
                                    foreach (var item in Model.lst)

                                    {
                                        <tr>
                                            <td contenteditable="true">@item.ServiceName</td>
                                            <td contenteditable="true">@item.Bill</td>
                                            <td contenteditable="true">@item.Paid</td>
                                            <td contenteditable="true">@item.Balance</td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item" title="Edit">
                                                        <i class="fa fa-plus add-row-billing" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td contenteditable="true">Fever</td>
                                        <td contenteditable="true">1000</td>
                                        <td contenteditable="true">Paid</td>
                                        <td contenteditable="true">0</td>
                                        <td>
                                            <ul class="list-inline">
                                                <li class="list-inline-item" title="Edit">
                                                    <i class="fa fa-plus add-row-billing" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row reg-counter">
                <div class="col-md-12">
                    <div class="card animated fadeInUp delay-01s bg-light">
                        <div class="card-body patient-det">

                            <div class="row align-items-center">

                                <div class="col-md-2">
                                    <h6 class="mt-0 mb-1">Bill</h6>
                                    <div class="count text-primary fs-20">@Model.TotalBill</div>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="mt-0 mb-1">Paid</h6>
                                    <div class="count text-primary fs-20">@Model.TotalPaid</div>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="mt-0 mb-1">Balance</h6>
                                    <div class="count text-primary fs-20">@Model.TotalBalance</div>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="mt-0 mb-1">Total</h6>
                                    <div class="count text-primary fs-20">@Model.Total</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: .5em;">
                <div class="col-md-12 text-center">
                    <input type="button" value="Print" onclick='PrintDiv("tblPrint")' class="btn btn_1 btn-primary">
                    <input type="button" value="Save" onclick='Save(this)' class="btn btn_2 btn-primary">
                    <input type="button" value="Finalize" onclick="SetStatus(this)" class="btn btn_1 btn-primary">
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/front.js"></script>
<script>
    $('.opd-table1 .add-row-billing').click(function () {
        $('.opd-table1 .table').append('<tr><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times add-row-billing" onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    });

    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function SomeDeleteRowFunction1(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    $('#r1').click(function () {
        $('.refe-letr').css("display", "block");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "none");
    });
    $('#r2').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "block");
        $('.medicl-cert').css("display", "none");
    });
    $('#r3').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "block");
    });

    function Save(x) {
        var item = new Array();
        var customers = new Array();
        $("#tblCustomers TBODY TR").each(function () {
            var row = $(this);
            var customer = {};
            customer.ServiceName = row.find("TD").eq(0).html();
            customer.Bill = row.find("TD").eq(1).html();
            customer.Paid = row.find("TD").eq(2).html();
            customer.Balance = row.find("TD").eq(3).html();
            item.push(customer);
        });

        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/BillingDetails/ManageBilling",
            data: JSON.stringify(item),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                window.location.href ="/MyOPD/OpdBilling"
                //$('#pills-billing-tab').click();
            }
        });

    };
    function SetStatus(x) {
       var status = 3
        $.ajax({
            type: "POST",
            url: "/BillingDetails/SetStatus",
            data: '{Status: "' + status + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (confirm('Data updated successfuly..')) {
                    window.location.href = '/PatientDetails/GetQueueList'
                }
            }
            //failure: function (response) {
            //    alert(response.responseText);
            //},
            //error: function (response) {
            //    alert(response.responseText);
            //}
        });
    }
</script>
