﻿@model App_Layer.DentalExamination
@{
    Layout = null;
}

<style>
    .table thead {
        background: #ffffff;
        color: #666;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff !important;
    }

    .table tbody {
        background: #ffffff;
    }

    .table tr:hover {
        box-shadow: 2px 4px 10px #fff;
    }

    .btnGreen {
        background-color: #f5a433;
        border: none;
    }
    .btnBorder{
        border:none;
    }

    .btnRed {
        border: none;
    }

    .teethSize {
         border: none;
    }

    .teethNumber {
        height: 10px;
        width: 22px;
        border-color: white;
        color: #25A1A1;
        padding-left: 13px;
        padding-right: 21px;
    }

    .teethNumber2 {
        height: 10px;
        width: 34px;
        border-color: white;
        color: #25A1A1;
        padding-left: 12px;
        /*padding-right: 10px;*/
    }
    /*.table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dedede!important;
    }
        .table td {
        border-top: 1px solid #dedede!important;
        vertical-align: middle!important;
    }*/
    .table th {
        padding-top: 15px;
    }

    .table {
        margin-bottom: 0rem;
    }

    .mg-table .table {
        border-bottom: 1px solid #d4d4d4;
    }

    .tbl-view-1 tr th:first-child {
        width: 20%;
    }

    .tbl-view-2 tr th:first-child {
        width: 20%;
    }

    .tbl-view-3 tr th:first-child {
        width: 20%;
    }

    .tbl-view-4 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }

    .btnSizeColor {
        width: 35px;
        height: 17px;
    }
</style>

<div class="card-body">
    @*@using (Html.BeginForm("", "", FormMethod.Post))*@
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDentalDetails" }))
    {
        @Html.HiddenFor(m => m.Id, new { @id = "hdnODId" });
        <form>


            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="form-control-label ">
                            <span> <b>Treatment Plan</b></span>
                        </label>

                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-5">
                    <div class="form-group" style="text-align:right">
                        <label class="form-control-label">
                            <span class="accor-heading"> Dental Chart</span>
                        </label>

                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-md-9">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="radio" id="chkAdult" checked name="chkPassPort" />
                                <label for="chkYes">
                                    Adult
                                </label>

                            </div>
                        </div>

                        <div class="col-md-6 obs-sv-btn">
                            <div class="form-group">
                                <input type="radio" id="chkPediatric" name="chkPassPort" />
                                <label for="chkNo">
                                    Pediatric
                                </label>
                            </div>
                        </div>

                    </div>

                    <div id="dvAdult" class="col-md-12" style="background: #EFEFEF">
                        Adult
                        <div class="row" style="width: 100%;margin: 0 auto; padding-left:5px" id="DivAdult1">
                            <div class="col-md-12">
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn1','img1','A')" id="btn1"><img id="img1" class="teethSize" style="height: 60px;width: 22px;" src="~/img/A1.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn2', 'img2', 'A')" id="btn2"><img id="img2" class="teethSize" style="height: 62px;width: 22px;" src="~/img/A2.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn3', 'img3', 'A')" id="btn3"><img id="img3" class="teethSize" style="height: 64px;width: 22px;" src="~/img/A3.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn4', 'img4', 'A')" id="btn4"><img id="img4" class="teethSize" style="height: 66px;width: 22px;" src="~/img/A4.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn5', 'img5', 'A')" id="btn5"><img id="img5" class="teethSize" style="height: 68px;width: 22px;" src="~/img/A5.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn6', 'img6', 'A')" id="btn6"><img id="img6" class="teethSize" style="height: 70px;width: 22px;" src="~/img/A6.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn7', 'img7', 'A')" id="btn7"><img id="img7" class="teethSize" style="height: 72px;width: 22px;" src="~/img/A7.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn8', 'img8', 'A')" id="btn8"><img id="img8" class="teethSize" style="height: 74px;width: 22px;" src="~/img/A8.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn9', 'img9', 'A')" id="btn9"><img id="img9" class="teethSize" style="height: 74px;width: 22px;" src="~/img/A9.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn10', 'img10', 'A')" id="btn10"><img id="img10" class="teethSize" style="height: 72px;width: 22px;" src="~/img/A10.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn11', 'img11', 'A')" id="btn11"><img id="img11" class="teethSize" style="height: 70px;width: 22px;" src="~/img/A11.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn12', 'img12', 'A')" id="btn12"><img id="img12" class="teethSize" style="height: 68px;width: 22px;" src="~/img/A12.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn13', 'img13', 'A')" id="btn13"><img id="img13" class="teethSize" style="height: 66px;width: 22px;" src="~/img/A13.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn14', 'img14', 'A')" id="btn14"><img id="img14" class="teethSize" style="height: 64px;width: 22px;" src="~/img/A14.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn15', 'img15', 'A')" id="btn15"><img id="img15" class="teethSize" style="height: 62px;width: 22px;" src="~/img/A15.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn16', 'img16', 'A')" id="btn16"><img id="img16" class="teethSize" style="height: 60px;width: 22px;" src="~/img/A16.png" /></button>
                            </div>
                            <div class="col-md-12">
                                <label id="lbl1" class="teethNumber">1</label>
                                <label id="lbl2" class="teethNumber">2</label>
                                <label id="lbl3" class="teethNumber">3</label>
                                <label id="lbl4" class="teethNumber">4</label>
                                <label id="lbl5" class="teethNumber">5</label>
                                <label id="lbl6" class="teethNumber">6</label>
                                <label id="lbl7" class="teethNumber">7</label>
                                <label id="lbl8" class="teethNumber">8</label>
                                <label id="lbl9" class="teethNumber">9</label>
                                <label id="lbl10" class="teethNumber2">10</label>
                                <label id="lbl11" class="teethNumber2">11</label>
                                <label id="lbl12" class="teethNumber2">12</label>
                                <label id="lbl13" class="teethNumber2">13</label>
                                <label id="lbl14" class="teethNumber2">14</label>
                                <label id="lbl15" class="teethNumber2">15</label>
                                <label id="lbl16" class="teethNumber2">16</label>
                            </div>
                            <br />
                            <br />
                            <div class="col-md-12">
                                <label id="lbl17" class="teethNumber2">17</label>
                                <label id="lbl18" class="teethNumber2">18</label>
                                <label id="lbl19" class="teethNumber2">19</label>
                                <label id="lbl20" class="teethNumber2">20</label>
                                <label id="lbl21" class="teethNumber2">21</label>
                                <label id="lbl22" class="teethNumber2">22</label>
                                <label id="lbl23" class="teethNumber2">23</label>
                                <label id="lbl24" class="teethNumber2">24</label>
                                <label id="lbl25" class="teethNumber2">25</label>
                                <label id="lbl26" class="teethNumber2">26</label>
                                <label id="lbl27" class="teethNumber2">27</label>
                                <label id="lbl28" class="teethNumber2">28</label>
                                <label id="lbl29" class="teethNumber2">29</label>
                                <label id="lbl30" class="teethNumber2">30</label>
                                <label id="lbl31" class="teethNumber2">31</label>
                                <label id="lbl32" class="teethNumber2">32</label>
                            </div>


                            <div class="col-md-12">

                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn17', 'img17', 'A')" id="btn17"><img id="img17" class="teethSize" style="height: 60px;width: 22px;" src="~/img/A17.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn18', 'img18', 'A')" id="btn18"><img id="img18" class="teethSize" style="height: 62px;width: 22px;" src="~/img/A18.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn19', 'img19', 'A')" id="btn19"><img id="img19" class="teethSize" style="height: 64px;width: 22px;" src="~/img/A19.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn20', 'img20', 'A')" id="btn20"><img id="img20" class="teethSize" style="height: 66px;width: 22px;" src="~/img/A20.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn21', 'img21', 'A')" id="btn21"><img id="img21" class="teethSize" style="height: 68px;width: 22px;" src="~/img/A21.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn22', 'img22', 'A')" id="btn22"><img id="img22" class="teethSize" style="height: 70px;width: 22px;" src="~/img/A22.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn23', 'img23', 'A')" id="btn23"><img id="img23" class="teethSize" style="height: 72px;width: 22px;" src="~/img/A23.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn24', 'img24', 'A')" id="btn24"><img id="img24" class="teethSize" style="height: 74px;width: 22px;" src="~/img/A24.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn25', 'img25', 'A')" id="btn25"><img id="img25" class="teethSize" style="height: 74px;width: 22px;" src="~/img/A25.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn26', 'img26', 'A')" id="btn26"><img id="img26" class="teethSize" style="height: 72px;width: 22px;" src="~/img/A26.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn27', 'img27', 'A')" id="btn27"><img id="img27" class="teethSize" style="height: 70px;width: 22px;" src="~/img/A27.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn28', 'img28', 'A')" id="btn28"><img id="img28" class="teethSize" style="height: 68px;width: 22px;" src="~/img/A28.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn29', 'img29', 'A')" id="btn29"><img id="img29" class="teethSize" style="height: 66px;width: 22px;" src="~/img/A29.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn30', 'img30', 'A')" id="btn30"><img id="img30" class="teethSize" style="height: 64px;width: 22px;" src="~/img/A30.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn31', 'img31', 'A')" id="btn31"><img id="img31" class="teethSize" style="height: 62px;width: 22px;" src="~/img/A31.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btn32', 'img32', 'A')" id="btn32"><img id="img32" class="teethSize" style="height: 60px;width: 22px;" src="~/img/A32.png" /></button>

                            </div>

                        </div>
                        <br />
                    </div>



                    <div id="dvPediatric" class="col-md-12" style="display: none ;background:  #EFEFEF">
                        Pediatric
                        <div class="row" style="width: 100%;margin: 0 auto;" id="DivPediatric2">
                            <div class="col-md-12">
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric1', 'img1','P')" id="btnPediatric1"><img id="imgPediatric1" class="teethSize" style="height: 60px;width: 22px;" src="~/img/P1.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric2', 'img2', 'P')" id="btnPediatric2"><img id="imgPediatric2" class="teethSize" style="height: 62px;width: 22px;" src="~/img/P2.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric3', 'img3', 'P')" id="btnPediatric3"><img id="imgPediatric3" class="teethSize" style="height: 64px;width: 22px;" src="~/img/P3.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric4', 'img4', 'P')" id="btnPediatric4"><img id="imgPediatric4" class="teethSize" style="height: 66px;width: 22px;" src="~/img/P4.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric5', 'img5', 'P')" id="btnPediatric5"><img id="imgPediatric5" class="teethSize" style="height: 68px;width: 22px;" src="~/img/P5.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric6', 'img6', 'P')" id="btnPediatric6"><img id="imgPediatric6" class="teethSize" style="height: 68px;width: 22px;" src="~/img/P6.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric7', 'img7', 'P')" id="btnPediatric7"><img id="imgPediatric7" class="teethSize" style="height: 66px;width: 22px;" src="~/img/P7.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric8', 'img8', 'P')" id="btnPediatric8"><img id="imgPediatric8" class="teethSize" style="height: 64px;width: 22px;" src="~/img/P8.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric9', 'img9', 'P')" id="btnPediatric9"><img id="imgPediatric9" class="teethSize" style="height: 62px;width: 22px;" src="~/img/P9.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric10', 'img10', 'P')" id="btnPediatric10"><img id="imgPediatric10" class="teethSize" style="height: 60px;width: 22px;" src="~/img/P10.png" /></button>
                            </div>
                            <div class="col-md-12">
                                <label id="lbl1" class="teethNumber">1</label>
                                <label id="lbl2" class="teethNumber">2</label>
                                <label id="lbl3" class="teethNumber">3</label>
                                <label id="lbl4" class="teethNumber">4</label>
                                <label id="lbl5" class="teethNumber">5</label>
                                <label id="lbl6" class="teethNumber">6</label>
                                <label id="lbl7" class="teethNumber">7</label>
                                <label id="lbl8" class="teethNumber">8</label>
                                <label id="lbl9" class="teethNumber">9</label>
                                <label id="lbl10" class="teethNumber2">10</label>

                            </div>
                            <br />
                            <br />
                            <div class="col-md-12">
                                <label id="lbl11" class="teethNumber2">11</label>
                                <label id="lbl12" class="teethNumber2">12</label>
                                <label id="lbl13" class="teethNumber2">13</label>
                                <label id="lbl14" class="teethNumber2">14</label>
                                <label id="lbl15" class="teethNumber2">15</label>
                                <label id="lbl16" class="teethNumber2">16</label>
                                <label id="lbl17" class="teethNumber2">17</label>
                                <label id="lbl18" class="teethNumber2">18</label>
                                <label id="lbl19" class="teethNumber2">19</label>
                                <label id="lbl20" class="teethNumber2">20</label>
                            </div>


                            <div class="col-md-12">

                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric11', 'img11', 'P')" id="btnPediatric11"><img id="imgPediatric11" class="teethSize" style="height: 60px;width: 22px;" src="~/img/P11.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric12', 'img12', 'P')" id="btnPediatric12"><img id="imgPediatric12" class="teethSize" style="height: 62px;width: 22px;" src="~/img/P12.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric13', 'img13', 'P')" id="btnPediatric13"><img id="imgPediatric13" class="teethSize" style="height: 64px;width: 22px;" src="~/img/P13.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric14', 'img14', 'P')" id="btnPediatric14"><img id="imgPediatric14" class="teethSize" style="height: 66px;width: 22px;" src="~/img/P14.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric15', 'img15', 'P')" id="btnPediatric15"><img id="imgPediatric15" class="teethSize" style="height: 68px;width: 22px;" src="~/img/P15.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric16', 'img16', 'P')" id="btnPediatric16"><img id="imgPediatric16" class="teethSize" style="height: 68px;width: 22px;" src="~/img/P16.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric17', 'img17', 'P')" id="btnPediatric17"><img id="imgPediatric17" class="teethSize" style="height: 66px;width: 22px;" src="~/img/P17.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric18', 'img18', 'P')" id="btnPediatric18"><img id="imgPediatric18" class="teethSize" style="height: 64px;width: 22px;" src="~/img/P18.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric19', 'img19', 'P')" id="btnPediatric19"><img id="imgPediatric19" class="teethSize" style="height: 62px;width: 22px;" src="~/img/P19.png" /></button>
                                <button type="button" class="btnBorder" onclick="BtnSetValue('btnPediatric20', 'img20', 'P')" id="btnPediatric20"><img id="imgPediatric20" class="teethSize" style="height: 60px;width: 22px;" src="~/img/P20.png" /></button>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />

                    <hr />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Date
                                </label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    @Html.TextBoxFor(m => m.CreatedDate, new { @id = "txtDate", autocomplete = "off", @type = "text", @class = "form-control", @placeholder = "dd/mm/yyyy" })
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                    <div class="input-group-addon">
                                        <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 obs-sv-btn">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Procedure
                                </label>

                                @Html.DropDownListFor(m => m.ToothProcedure, new List<SelectListItem>
                                {
                                new SelectListItem{ Text="Bonding", Value = "Bonding" },
                                new SelectListItem{ Text="Braces", Value = "Braces" },
                                new SelectListItem{ Text="Bridges And Implants", Value = "Bridges and Implants" },
                                new SelectListItem{ Text="Dentures", Value = "Dentures" },
                                new SelectListItem{ Text="Extractions", Value = "Extractions" },
                                //new SelectListItem{ Text="Dentures", Value = "Dentures" },
                                new SelectListItem{ Text="Fillings And Repairs", Value = "Fillings and Repairs" },
                                new SelectListItem{ Text="Gum Surgery", Value = "Gum Surgery" },
                                new SelectListItem{ Text="Oral cancer Examinations", Value = "Oral cancer Examinations" },
                                new SelectListItem{ Text="Root Canals", Value = "Root canals" },
                                new SelectListItem{ Text="Sealants", Value = "Sealants" },
                                }, new { @class = "form-control mb-3", @id = "ddlToothProcedure" })


                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Amount
                                </label>
                                @Html.TextBoxFor(m => m.Amount, new { @id = "txtAmount", @class = "form-control", required = "required", @placeholder = "Amount" })
                            </div>
                        </div>
                        <div class="col-md-5 obs-sv-btn">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Notes
                                </label>
                                @Html.TextBoxFor(m => m.Notes, new { @id = "txtNotes", @class = "form-control", required = "required", @placeholder = "Notes" })
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-3" style="background: rgb(232 ,232, 232)" height=10px>
                    <div>
                        <label>
                            Color Code

                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Red")
                            <button type="button" class="btnSizeColor" id="btnred1" style="background-color:red "></button>
                        </label>
                        <label>
                            Red
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Black")
                            <button type="button" class="btnSizeColor" id="btnblack" style="background-color:black"></button>
                        </label>
                        <label>
                            Black
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Purple")
                            <button type="button" class="btnSizeColor" style="background-color:purple"></button>
                        </label>
                        <label>
                            Purple
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Cadetblue")
                            <button type="button" class="btnSizeColor" style="background-color:cadetblue "></button>
                        </label>
                        <label>
                            Cadetblue
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Darkorange")
                            <button type="button" class="btnSizeColor" style="background-color:darkorange"></button>
                        </label>
                        <label>
                            Darkorange
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Aqua")
                            <button type="button" class="btnSizeColor" style="background-color:aqua"></button>
                        </label>
                        <label>
                            Aqua
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Darksalmon")
                            <button type="button" class="btnSizeColor" style="background-color:darksalmon "></button>
                        </label>
                        <label>
                            Darksalmon
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Green")
                            <button type="button" class="btnSizeColor" style="background-color:green"></button>
                        </label>
                        <label>
                            Green
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.RadioButtonFor(m => m.ColorCode, "Brown")
                            <button type="button" class="btnSizeColor" style="background-color:brown"></button>
                        </label>
                        <label>
                            Brown
                        </label>
                    </div>


                </div>
            </div>



            <div class="modal-footer" style="border-top:none;">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" onclick="SaveDentalExaminationPage(this)" class="btn btn_1 btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>



            <div class="row mg-table">
                <div class="col-lg-12">
                    <div class="">
                        <div class="">
                            <div class="table-responsive opd-table ">
                                <table class="table" id="tblDentalExamination">
                                    <thead>
                                        <tr style="background: #f8f9fa;">
                                            <th hidden>Id</th>

                                            <th>Date</th>
                                            <th>Color</th>
                                            <th>Tooth No.</th>
                                            <th>Procedure</th>
                                            <th>Amount (₹)</th>
                                            <th>Notes</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.lst != null)
                                        {

                                            foreach (var item in Model.lst)

                                            {
                                                <tr>
                                                    <td hidden>@item.Id</td>

                                                    <td>@Convert.ToDateTime(item.CreatedDate).ToString("dd/MM/yyyy")</td>
                                                    <td>@item.ColorCode</td>
                                                    <td>@item.ToothNumber</td>
                                                    <td>@item.ToothProcedure</td>
                                                    <td>@item.Amount</td>
                                                    <td>@item.Notes</td>

                                                    <td>
                                                        <i class="fa fa-pencil" onclick="EditPICDetails(this)" aria-hidden="true"></i>&nbsp;&nbsp;
                                                        <i class="fa fa-times" onclick="DeleteRecord('@item.Id')" aria-hidden="true"></i>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />



            <div class="row" style="display:none">
                <div class="col-md-7" style="text-align: right;">
                    For Priview/Download/Print click on "Print"
                </div>
                <div class="col-md-5" style="text-align: left;">

                    <input type='button' id='btn' value='Print' class="btn btn_1 btn-primary" onclick="ShowDentalPrint()">
                </div>
                <br /><br /><br /><br /><br /><br /><br />
            </div>
        </form>
    }
</div>


<script>
    function DeleteRecord(id) {
        if (confirm('Do you want to delete record ?')) {
            var urllink = '@Url.Content("/MyOPD/DeleteDentalExamination")'
            $.ajax({
                type: "post",
                url: urllink,
                data: '{Id: "' + id + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#tblDentalExamination tbody').empty();
                    var trHTML = '';
                    $.each(data, function (i, item) {
                        trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.CreatedDate + '</td><td>' + item.ColorCode + '</td><td>' + item.ToothNumber + '</td><td>' + item.ToothProcedure + '</td><td>' + item.Amount + '</td><td>' + item.Notes + '</td></td><td><i class="fa fa-pencil" onclick=EditPICDetails(this1) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                    });
                    $('#tblDentalExamination tbody').append(trHTML)
                }
            }

           )
        }
    };

    $(":radio").click(function () {
        var Selectedvalue = $(this).val();
        $.ajax({
            type: "POST",
            url: "/MyOPD/GetColorcode",
            data: '{btnColorcode:"' + Selectedvalue + '"}',

            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
            },
            failure: function (response) {
                //alert(response.responseText);
            },
            error: function (response) {
                //alert(response.responseText);
            }
        });
    });

    //if ($("#chkPediatric").prop("checked")) {
    //    debugger;
    //    $.ajax({
    //        type: "POST",
    //        url: "/MyOPD/GetColorcode",
    //        data: '{btnColorcode:"' + 'P' + '"}',

    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function (response) {
    //        },
    //        failure: function (response) {
    //            //alert(response.responseText);
    //        },
    //        error: function (response) {
    //            //alert(response.responseText);
    //        }
    //    });
    //}
    $(":radio").click(function () {
        if ($("#chkAdult").prop("checked")) {
            $.ajax({
                type: "POST",
                url: "/MyOPD/PageSwitch",
                data: '{Page:"' + 'A' + '"}',

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#tblDentalExamination tbody').empty();
                    var trHTML = '';
                    $.each(data, function (i, item) {
                        trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.CreatedDate + '</td><td>' + item.ColorCode + '</td><td>' + item.ToothNumber + '</td><td>' + item.ToothProcedure + '</td><td>' + item.Amount + '</td><td>' + item.Notes + '</td></td><td><i class="fa fa-pencil" onclick=EditPICDetails(this1) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                    });
                    $('#tblDentalExamination tbody').append(trHTML)
                },
                failure: function (response) {
                    //alert(response.responseText);
                },
                error: function (response) {
                    //alert(response.responseText);
                }
            });
        } if ($("#chkPediatric").prop("checked")) {
            $.ajax({
                type: "POST",
                url: "/MyOPD/PageSwitch",
                data: '{Page:"' + 'P' + '"}',

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#tblDentalExamination tbody').empty();
                    var trHTML = '';
                    $.each(data, function (i, item) {
                        trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.CreatedDate + '</td><td>' + item.ColorCode + '</td><td>' + item.ToothNumber + '</td><td>' + item.ToothProcedure + '</td><td>' + item.Amount + '</td><td>' + item.Notes + '</td></td><td><i class="fa fa-pencil" onclick=EditPICDetails(this1) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                    });
                    $('#tblDentalExamination tbody').append(trHTML)
                },
                failure: function (response) {
                    //alert(response.responseText);
                },
                error: function (response) {
                    //alert(response.responseText);
                }
            });
        };
    });

</script>

<script type="text/javascript">
    $(function () {
        $("input[name='chkPassPort']").click(function () {

            if ($("#chkAdult").is(":checked")) {
                $("#dvAdult").show();

                $("#dvPediatric").hide();
                //$('#tblDentalExamination tbody').empty();


            } else {
                $("#dvAdult").hide();
                $("#dvPediatric").show();
                //$('#tblDentalExamination tbody').empty();

            }
        });
    });
</script>
<script type="text/javascript">
    function SaveDentalExaminationPage() {
        $(":radio").click(function () {

            if (Selectedvalue = null || Selectedvalue == "") {
                alert("Selete color code");
                return;
            }
            var Selectedvalue = $(this).val();
        });
        if (Amount = null || Amount == "") {
            alert("Enter amount");
            return;
        }
        if (Notes = null || Notes == "") {
            alert("Enter note");
            return;
        }
        if (date1 = null || date1 == "") {
            alert("Selete date");
            return;
        }
        if (ToothProcedure = null || ToothProcedure == "") {
            alert("Select tooth procedure");
            return;
        }
        var Id = document.getElementById("hdnODId").value;
        var Amount = document.getElementById("txtAmount").value;
        var Notes = document.getElementById("txtNotes").value;
        var date1 = document.getElementById("txtDate").value
        var ToothProcedure = document.getElementById("ddlToothProcedure").value;

        var urllink = '@Url.Content("~/MyOPD/SaveDentalPage")'
        $.ajax({
            type: "post",
            url: urllink,
            data: '{Id: "' + Id + '",CreatedDate:"' + date1 + '",ToothProcedure: "' + ToothProcedure + '",Amount:"' + Amount + '",Notes:"' + Notes + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (data) {
                $('#tblDentalExamination tbody').empty();
                var trHTML = '';
                $.each(data, function (i, item) {
                    trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.CreatedDate + '</td><td>' + item.ColorCode + '</td><td>' + item.ToothNumber + '</td><td>' + item.ToothProcedure + '</td><td>' + item.Amount + '</td><td>' + item.Notes + '</td><td><i class="fa fa-pencil" onclick=EditPICDetails(this) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                });
                $('#tblDentalExamination tbody').append(trHTML)
                $("#hdnODId").val('0');
                $("#txtAmount").val('');
                $("#txtNotes").val('');
                $("#txtDate").val('');
                $("#ddlToothProcedure").val('');
            },
        });

    }

    function EditPICDetails(this1) {
        var obj = $(this1).parents("tr")
        $("#hdnODId").val(obj.find('td')[0].innerHTML);
        $("#Id").val(obj.find('td')[0].innerHTML);
        $("#txtAmount").val(obj.find('td')[5].innerHTML);
        $("#txtNotes").val(obj.find('td')[6].innerHTML);
        $("#txtDate").val(obj.find('td')[1].innerHTML);
        $("#ddlToothProcedure").val(obj.find('td')[4].innerHTML);
    }

    function BtnSetValue(id, img, Page) {
        if (document.getElementById(id).classList.contains('btnGreen')) {

            document.getElementById('btn1').classList.remove('btnGreen');
            document.getElementById('btn2').classList.remove('btnGreen');
            document.getElementById('btn3').classList.remove('btnGreen');
            document.getElementById('btn4').classList.remove('btnGreen');
            document.getElementById('btn5').classList.remove('btnGreen');
            document.getElementById('btn6').classList.remove('btnGreen');
            document.getElementById('btn7').classList.remove('btnGreen');
            document.getElementById('btn8').classList.remove('btnGreen');
            document.getElementById('btn9').classList.remove('btnGreen');
            document.getElementById('btn10').classList.remove('btnGreen');
            document.getElementById('btn11').classList.remove('btnGreen');
            document.getElementById('btn12').classList.remove('btnGreen');
            document.getElementById('btn13').classList.remove('btnGreen');
            document.getElementById('btn14').classList.remove('btnGreen');
            document.getElementById('btn15').classList.remove('btnGreen');
            document.getElementById('btn16').classList.remove('btnGreen');
            document.getElementById('btn17').classList.remove('btnGreen');
            document.getElementById('btn18').classList.remove('btnGreen');
            document.getElementById('btn19').classList.remove('btnGreen');
            document.getElementById('btn20').classList.remove('btnGreen');
            document.getElementById('btn21').classList.remove('btnGreen');
            document.getElementById('btn22').classList.remove('btnGreen');
            document.getElementById('btn23').classList.remove('btnGreen');
            document.getElementById('btn24').classList.remove('btnGreen');
            document.getElementById('btn25').classList.remove('btnGreen');
            document.getElementById('btn26').classList.remove('btnGreen');
            document.getElementById('btn27').classList.remove('btnGreen');
            document.getElementById('btn28').classList.remove('btnGreen');
            document.getElementById('btn29').classList.remove('btnGreen');
            document.getElementById('btn30').classList.remove('btnGreen');
            document.getElementById('btn31').classList.remove('btnGreen');
            document.getElementById('btn32').classList.remove('btnGreen');

            document.getElementById('btnPediatric1').classList.remove('btnGreen');
            document.getElementById('btnPediatric2').classList.remove('btnGreen');
            document.getElementById('btnPediatric3').classList.remove('btnGreen');
            document.getElementById('btnPediatric4').classList.remove('btnGreen');
            document.getElementById('btnPediatric5').classList.remove('btnGreen');
            document.getElementById('btnPediatric6').classList.remove('btnGreen');
            document.getElementById('btnPediatric7').classList.remove('btnGreen');
            document.getElementById('btnPediatric8').classList.remove('btnGreen');
            document.getElementById('btnPediatric9').classList.remove('btnGreen');
            document.getElementById('btnPediatric10').classList.remove('btnGreen');
            document.getElementById('btnPediatric11').classList.remove('btnGreen');
            document.getElementById('btnPediatric12').classList.remove('btnGreen');
            document.getElementById('btnPediatric13').classList.remove('btnGreen');
            document.getElementById('btnPediatric14').classList.remove('btnGreen');
            document.getElementById('btnPediatric15').classList.remove('btnGreen');
            document.getElementById('btnPediatric16').classList.remove('btnGreen');
            document.getElementById('btnPediatric17').classList.remove('btnGreen');
            document.getElementById('btnPediatric18').classList.remove('btnGreen');
            document.getElementById('btnPediatric19').classList.remove('btnGreen');
            document.getElementById('btnPediatric20').classList.remove('btnGreen');

            var imgNumber = img.substring(3);
            var imgName = "P" + imgNumber;

        }
        else {
            document.getElementById('btn1').classList.remove('btnGreen');
            document.getElementById('btn2').classList.remove('btnGreen');
            document.getElementById('btn3').classList.remove('btnGreen');
            document.getElementById('btn4').classList.remove('btnGreen');
            document.getElementById('btn5').classList.remove('btnGreen');
            document.getElementById('btn6').classList.remove('btnGreen');
            document.getElementById('btn7').classList.remove('btnGreen');
            document.getElementById('btn8').classList.remove('btnGreen');
            document.getElementById('btn9').classList.remove('btnGreen');
            document.getElementById('btn10').classList.remove('btnGreen');
            document.getElementById('btn11').classList.remove('btnGreen');
            document.getElementById('btn12').classList.remove('btnGreen');
            document.getElementById('btn13').classList.remove('btnGreen');
            document.getElementById('btn14').classList.remove('btnGreen');
            document.getElementById('btn15').classList.remove('btnGreen');
            document.getElementById('btn16').classList.remove('btnGreen');
            document.getElementById('btn17').classList.remove('btnGreen');
            document.getElementById('btn18').classList.remove('btnGreen');
            document.getElementById('btn19').classList.remove('btnGreen');
            document.getElementById('btn20').classList.remove('btnGreen');
            document.getElementById('btn21').classList.remove('btnGreen');
            document.getElementById('btn22').classList.remove('btnGreen');
            document.getElementById('btn23').classList.remove('btnGreen');
            document.getElementById('btn24').classList.remove('btnGreen');
            document.getElementById('btn25').classList.remove('btnGreen');
            document.getElementById('btn26').classList.remove('btnGreen');
            document.getElementById('btn27').classList.remove('btnGreen');
            document.getElementById('btn28').classList.remove('btnGreen');
            document.getElementById('btn29').classList.remove('btnGreen');
            document.getElementById('btn30').classList.remove('btnGreen');
            document.getElementById('btn31').classList.remove('btnGreen');
            document.getElementById('btn32').classList.remove('btnGreen');

            document.getElementById('btnPediatric1').classList.remove('btnGreen');
            document.getElementById('btnPediatric2').classList.remove('btnGreen');
            document.getElementById('btnPediatric3').classList.remove('btnGreen');
            document.getElementById('btnPediatric4').classList.remove('btnGreen');
            document.getElementById('btnPediatric5').classList.remove('btnGreen');
            document.getElementById('btnPediatric6').classList.remove('btnGreen');
            document.getElementById('btnPediatric7').classList.remove('btnGreen');
            document.getElementById('btnPediatric8').classList.remove('btnGreen');
            document.getElementById('btnPediatric9').classList.remove('btnGreen');
            document.getElementById('btnPediatric10').classList.remove('btnGreen');
            document.getElementById('btnPediatric11').classList.remove('btnGreen');
            document.getElementById('btnPediatric12').classList.remove('btnGreen');
            document.getElementById('btnPediatric13').classList.remove('btnGreen');
            document.getElementById('btnPediatric14').classList.remove('btnGreen');
            document.getElementById('btnPediatric15').classList.remove('btnGreen');
            document.getElementById('btnPediatric16').classList.remove('btnGreen');
            document.getElementById('btnPediatric17').classList.remove('btnGreen');
            document.getElementById('btnPediatric18').classList.remove('btnGreen');
            document.getElementById('btnPediatric19').classList.remove('btnGreen');
            document.getElementById('btnPediatric20').classList.remove('btnGreen');

            var imgNumber = img.substring(3);
            var imgName = "P" + imgNumber;
            // document.getElementById(id).classList.remove('btnRed');
            document.getElementById(id).classList.add('btnGreen');
            //document.getElementById(img).src = '../img/' + imgName + '.png';

            $.ajax({
                type: "POST",
                url: "/MyOPD/GetThootno",
                data: '{img: "' + img + '",PageDetails:"' + Page + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    // $('#tblDentalExamination tbody').empty();
                },
                failure: function (response) {
                    //alert(response.responseText);
                },
                error: function (response) {
                    //alert(response.responseText);
                }
            });
        }
    };

</script>
<script type="text/javascript">

    $(function () {
        $("#purpose").change(function () {
            if ($(this).val() == "1") {
                $("#DivAdult1").show();
                $("#DivPediatric2").hide();
            } else if ($(this).val() == "2") {
                $("#DivAdult1").hide();
                $("#DivPediatric2").show();
            }
        });
    });
</script>
<script>

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>