@model App_Layer.Precription
@{
    Layout = null;
}
<style>
    .table thead {
        background: #ffffff;
        color: #666;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff !important;
    }

    .table tbody {
        background: #ffffff;
    }

    .table tr:hover {
        box-shadow: 2px 4px 10px #fff;
    }
    /*.table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dedede!important;
    }
        .table td {
        border-top: 1px solid #dedede!important;
        vertical-align: middle!important;
    }*/
    .table th {
        padding-top: 15px;
    }

    .table {
        margin-bottom: 0rem;
    }

    .mg-table .table {
        border-bottom: 1px solid #d4d4d4;
    }

    .tbl-view-1 tr th:first-child {
        width: 20%;
    }

    .tbl-view-2 tr th:first-child {
        width: 20%;
    }

    .tbl-view-3 tr th:first-child {
        width: 20%;
    }

    .tbl-view-4 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }
</style>
<div class="bs-example">
    <div class="accordion" id="accordionExample1">
        @*<div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            Prescription For :
                        </li>
                        <li class="list-inline-item">
                            <div class="form-group">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control datepicker" placeholder="dd/mm/yyyy" />
                                    <div class="input-group-addon">
                                        <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <input type="button" value="Copy Previous" class="btn btn_1 btn-primary pull-right">
                </div>
            </div>*@
        <div class="second-tab">
            <div class="card">
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <div class="i-checks">
                                <input id="checkboxCustom2" type="checkbox" value="" class="checkbox-template tbl-7"> &nbsp;&nbsp; Vital Information
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="i-checks">
                                <input id="checkboxCustom2" type="checkbox" value="" class="checkbox-template tbl-1"> &nbsp;&nbsp; Complaints
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="i-checks">
                                <input id="checkboxCustom2" type="checkbox" value="" class="checkbox-template tbl-2"> &nbsp;&nbsp;Test
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="i-checks">
                                <input id="checkboxCustom2" type="checkbox" value="" class="checkbox-template tbl-3"> &nbsp;&nbsp;Diagnosis
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="i-checks">
                                <input id="checkboxCustom2" type="checkbox" value="" class="checkbox-template tbl-4"> &nbsp;&nbsp;Medication
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="i-checks">
                                <input id="checkboxCustom2" type="checkbox" value="" class="checkbox-template tbl-5"> &nbsp;&nbsp;Observation
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="i-checks">
                                <input id="checkboxCustom2" type="checkbox" value="" class="checkbox-template tbl-6"> &nbsp;&nbsp;Next Visit
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card" id="divPrint">
                <div class="card-body mg-table">
                    <table class="table table-striped" style="width: 100%;" id="tbl1">
                        <tbody>
                            <tr>
                                <th>Patient Details : <span>@Session["PatientName"].ToString(), @Session["PatientGender"].ToString(), @Session["PatientAge"].ToString() yrs</span></th>
                                <th>Patient ID : <span>@Session["CPno"].ToString()</span></th>
                                <th>Appointment Date : <span>@Session["AppDate"].ToString()</span></th>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table id="example2" class="table table-striped tbl-view-7" style="width:100%;display:none;">
                        <thead>
                            <tr>
                                <th>BloodPressure</th>
                                <th>Temperature</th>
                                <th>BloodGlucosePostPrandial</th>
                                <th>Weight</th>
                                <th>BloodGlucoseFasting</th>
                                <th>BloodlucoseRandom</th>
                                <th>Pulse</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.vlist)
                            {
                                <tr>
                                    <td>@item.BloodPressure</td>
                                    <td>@item.Temperature</td>
                                    <td>@item.BloodGlucosePostPrandial</td>
                                    <td>@item.Weight</td>
                                    <td>@item.BloodGlucoseFasting</td>
                                    <td>@item.BloodlucoseRandom</td>
                                    <td>@item.Pulse</td>
                                </tr>
                            }
                        </tbody>
                        @*<tbody>
                                <tr>
                                    <th>Weight(Kg) : <span>80</span></th>
                                    <th>Temperature(&#8457;): <span>26 Jun, 2020</span></th>
                                    <th></th>
                                </tr>
                            </tbody>*@
                    </table>

                    <br />
                    <table id="example3" class="table table-striped tbl-view-1" style="width:100%;display:none;">
                        <thead>
                            <tr>
                                <th>Complaints</th>
                                <th>Since-When</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.olist)
                            {
                                <tr>
                                    <td>@item.Complaints</td>
                                    <td>@item.Since - @item.Period</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <table id="example8" class="table table-striped tbl-view-2" style="width:100%;display:none;">
                        <thead>
                            <tr>
                                <th>Test</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.clist)
                            {
                                <tr>
                                    <td>@item.InvSelectTests</td>
                                </tr>
                            }
                    </table>
                    <table id="example9" class="table table-striped tbl-view-3" style="width:100%;display:none;">
                        <thead>
                            <tr>
                                <th>Diagnosis</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.olist)
                            {
                                <tr>
                                    <td>@item.Diagnosis</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <table id="example5" class="table table-striped tbl-view-4" style="width:100%;display:none;">
                        <thead>
                            <tr>
                                <th>Medicine</th>
                                <th>Dose</th>
                                <th>Instruction</th>
                                <th>Freq</th>
                                <th>Alternate</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.mlist)
                            {
                                <tr>
                                    <td>@item.MedicineName</td>
                                    <td>@item.WhenMedicine</td>
                                    <td>@item.SpecialInstruction</td>
                                    <td>@item.ForMedicine - @item.MedicineDays</td>
                                    <td>@item.AlternateMedicine</td>
                                </tr>
                            }

                        </tbody>

                    </table>
                    <table id="example6" class="table table-striped tbl-view-5" style="width: 100%; display: none;">
                        <thead>
                            <tr>
                                <th>Advice</th>
                                <th>Diet & Exercise</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.clist)
                            {
                                <tr>
                                    <td>@item.AddAdvice</td>
                                    <td>@item.AddDiet</td>
                                </tr>
                            }

                        </tbody>

                    </table>

                    <table id="example7" class="table table-striped tbl-view-6" style="width:100%;display:none;">

                        <thead>
                            <tr>
                                <th>Next Visite</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.NextList)
                            {
                                <tr>
                                    <td>@item.CreatedDate</td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
        <input type='button' id='btn' value='Print' class="btn btn_1 btn-primary pull-right" onclick='PrintDiv("divPrint");'>
    </div>
    <br />

</div>
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/front.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    //function printDiv(x)
    //{

    //    var divToPrint = document.getElementById('#accordionExample1');

    //    var newWin=window.open('','Print-Window');

    //    newWin.document.open();

    //    newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

    //    newWin.document.close();

    //    setTimeout(function(){newWin.close();},10);

    //}
</script>
<script src="~/js/front.js"></script>
<script>
    //$(".nav-tabs li").removeClass("active"); btnInvestigation
    $("#btnObservation").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabObservation").load(url);
    });
    $("#btnMedication").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabMedication").load(url);
    });
    $("#btnCommon").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabCommon").load(url);
    });
</script>
<script>

    //$('.opd-table .add-row').click(function () {
    //    $('.opd-table .table').append('<tr><td contenteditable="true">001</td><td contenteditable="true">Fever</td><td contenteditable="true">2 Week</td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times"  onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    //});


    $('.opd-table1 .add-row-billing').click(function () {
        $('.opd-table1 .table').append('<tr><td>1</td><td contenteditable="true">Fever</td><td contenteditable="true">1000</td><td contenteditable="true">Paid</td><td contenteditable="true">0</td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times add-row-billing" onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    });

    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function SomeDeleteRowFunction1(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    $('#r1').click(function () {
        $('.refe-letr').css("display", "block");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "none");
    });
    $('#r2').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "block");
        $('.medicl-cert').css("display", "none");
    });
    $('#r3').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "block");
    });


    $('.tbl-1').click(function () {
        $('.tbl-view-1').slideToggle();
    });
    $('.tbl-2').click(function () {
        $('.tbl-view-2').slideToggle();
    });
    $('.tbl-3').click(function () {
        $('.tbl-view-3').slideToggle();
    });
    $('.tbl-4').click(function () {
        $('.tbl-view-4').slideToggle();
    });
    $('.tbl-5').click(function () {
        $('.tbl-view-5').slideToggle();
    });
    $('.tbl-6').click(function () {
        $('.tbl-view-6').slideToggle();
    });
    $('.tbl-7').click(function () {
        $('.tbl-view-7').slideToggle();
    });
</script>
<script>
    function PrintDiv(divID) {
        //Get the HTML of div
        var divElements = document.getElementById(divID).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
            "<html><head><title></title></head><body>" +
            divElements + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;


    }
</script>
