@model App_Layer.HistoryDetails
@{
    Layout = null;
}

<style>
    .table .nested1 {
        vertical-align: initial !important;
    }

    .table thead th {
        border-bottom: 2px solid #25a1a1 !important;
        border-top: 1px solid #25a1a1 !important;
    }

    .table td {
        vertical-align: initial !important;
    }

    .inner-shdow tbody tr {
        box-shadow: none !important;
        background: #fff;
    }

        .inner-shdow tbody tr td {
            border-top: 1px solid #fff !important;
            padding-left: 0;
        }

    #tblObservation {
        margin-bottom: 0;
    }

    .table tbody {
        background: #ffffff;
    }
</style>
<div class="bs-example">
    <div class="accordion" id="accordionExample1">
        @*<div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            Prescription For :
                        </li>
                        <li class="list-inline-item">
                            <div class="form-group">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control datepicker" placeholder="dd/mm/yyyy" />
                                    <div class="input-group-addon">
                                        <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <input type="button" value="Copy Previous" class="btn btn_1 btn-primary pull-right">
                </div>
            </div>*@
        <div class="second-tab initial-tbl">
            <div class="card">

                <div class="row mg-table">
                    <div class="col-md-12">
                        <div class="">
                            <div class="">
                                <div class="table-responsive opd-table ">
                                    <table class="table" id="tblObservation">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Medication</th>
                                                <th>Test</th>
                                                <th>Observation</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.lstHD)
                                            {
                                                <tr>
                                                    <td>@item.DateTime</td>
                                                    <td class="nested1">
                                                        <table class="table inner-shdow">

                                                            <tbody>


                                                                @foreach (var item1 in item.lstMD)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item1.MedicineName -
                                                                        @item1.WhenMedicine - @item1.RepeatMedicine / @item1.MedicineCount @item1.MedicineDays /
                                                                        @item1.SpecialInstruction /
                                                                        @item1.AlternateMedicine
                                                                    </td>

                                                                </tr>
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        <table class="inner-shdow">

                                                            <tbody>


                                                                @foreach (var item2 in item.lstTD)
                                                                {
                                                                    <tr>
                                                                        <td>@item2.Test</td>
                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        <table class="inner-shdow">

                                                            <tbody>

                                                                @foreach (var item3 in item.lstOD)
                                                                {
                                                                    <tr>
                                                                        <td>@item3.Observation - @item3.Since @item3.Period</td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        <table class="inner-shdow">

                                                            <tbody>

                                                                @foreach (var item4 in item.lstHF)
                                                                {
                                                                    <tr>
                                                                        <td>@item4.FileName</td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/front.js"></script>
<script>
    //$(".nav-tabs li").removeClass("active"); btnInvestigation
    $("#btnObservation").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabObservation").load(url);
    });
    $("#btnMedication").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabMedication").load(url);
    });
    $("#btnCommon").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabCommon").load(url);
    });
</script>
<script>

    //$('.opd-table .add-row').click(function () {
    //    $('.opd-table .table').append('<tr><td contenteditable="true">001</td><td contenteditable="true">Fever</td><td contenteditable="true">2 Week</td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times"  onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    //});


    $('.opd-table1 .add-row-billing').click(function () {
        $('.opd-table1 .table').append('<tr><td>1</td><td contenteditable="true">Fever</td><td contenteditable="true">1000</td><td contenteditable="true">Paid</td><td contenteditable="true">0</td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times add-row-billing" onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    });

    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function SomeDeleteRowFunction1(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    $('#r1').click(function () {
        $('.refe-letr').css("display", "block");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "none");
    });
    $('#r2').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "block");
        $('.medicl-cert').css("display", "none");
    });
    $('#r3').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "block");
    });
</script>
