@model App_Layer.LifeStyleDetails
@{
    Layout = null;
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmLifeStyleDetails" }))
{
    @Html.HiddenFor(m => m.Id);
    @Html.HiddenFor(m => m.CasePaperNo);
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <label class="form-control-label">Diat</label>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @*<input id="radioDiat" type="radio" checked="" value="option5" name="a" class="radio-template">*@
                            @Html.RadioButtonFor(model => model.Diat, "V", new { @class = "radio-template" })

                            <label for="radioCustom2">Veg</label>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Diat, "N", new { @class = "radio-template" })
                            <label for="radioVeg">Non Veg</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Smoking</label>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="i-checks ">

                            @Html.RadioButtonFor(model => model.Smoting, "Y", new { @class = "radio-template" })

                            <label for="radioSmokingYes">Yes</label>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Smoting, "N", new { @class = "radio-template" })
                            <label for="radioSmokingNo">No</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Alcohol</label>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Alcohol, "Y", new { @class = "radio-template" })

                            <label for="radioCustom2">Yes</label>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Alcohol, "N", new { @class = "radio-template" })
                            <label for="radioCustom2">No</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Bowel</label>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Bowel, "Y", new { @class = "radio-template" })

                            <label for="radioCustom2">Yes</label>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Bowel, "N", new { @class = "radio-template" })
                            <label for="radioCustom2">No</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="form-control-label">Bladder</label>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Bladder, "Y", new { @class = "radio-template" });

                            <label for="radioCustom2">Yes</label>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Bladder, "N", new { @class = "radio-template" });
                            <label for="radioCustom2">No</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <label class="form-control-label">Sleep</label>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Sleep, "R", new { @class = "radio-template" });

                            <label for="radioCustom2">Regular</label>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Sleep, "I", new { @class = "radio-template" });
                            <label for="radioCustom2">Irregular</label>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="i-checks ">
                            @Html.RadioButtonFor(model => model.Sleep, "D", new { @class = "radio-template" });
                            <label for="radioCustom2">Disturbed</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" onclick="SubmitLifeStyleDetails()" class="btn btn_1 btn-primary" id="tostr-save2">Save</button>
            </div>
        </div>
    </div>
}
<script src="~/js/front.js"></script>
<script>
    function SubmitLifeStyleDetails() {

        var form = $('#frmLifeStyleDetails')[0];

            var fromData = new FormData(form);
            var urllink = '@Url.Content("~/TabDetails/ManageLifeStyleDetails")'

            $.ajax({
                type: "post",
                url: urllink,
                data: fromData,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert("Details Updated Sucessfully.");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })

        }
</script>
