@model App_Layer.Observation
@{
    Layout = null;
}
<style>
    .table thead {
        background: #ffffff;
        color: #666;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff !important;
    }

    .table tbody {
        background: #ffffff;
    }

    .table tr:hover {
        box-shadow: 2px 4px 10px #fff;
    }
    /*.table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dedede!important;
    }
        .table td {
        border-top: 1px solid #dedede!important;
        vertical-align: middle!important;
    }*/
    .table th {
        padding-top: 15px;
    }

    .table {
        margin-bottom: 0rem;
    }

    .mg-table .table {
        border-bottom: 1px solid #d4d4d4;
    }

    .tbl-view-1 tr th:first-child {
        width: 20%;
    }

    .tbl-view-2 tr th:first-child {
        width: 20%;
    }

    .tbl-view-3 tr th:first-child {
        width: 20%;
    }

    .tbl-view-4 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }
</style>

<div class="card-body">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmObservationDetails" }))
    {
        @Html.HiddenFor(m => m.Id, new { @id = "hdnId" });
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Complaints<span class="star">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.Complaints, new { @id = "txtComplaints", @class = "form-control", required = "required", @placeholder = "Complaints" })
                        @Html.ValidationMessageFor(model => model.Complaints, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Since<span class="star">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.Since, new { @id = "txtSince", @type = "number", @class = "form-control", required = "required", @placeholder = "Since" })
                        @Html.ValidationMessageFor(model => model.Since, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Period<span class="star">*</span>
                        </label>
                        @Html.DropDownListFor(m => m.Period, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="Days", Value = "Days" },
                                                         new SelectListItem{ Text="Weeks", Value = "Weeks" },
                                                          new SelectListItem{ Text="Months", Value = "Months" },
                                                          new SelectListItem{ Text="Years", Value = "Years" },
                                                      }, new { @class = "form-control mb-3", @id = "dlPeriod" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Physical Examination / Observation
                        </label>
                        @Html.TextBoxFor(m => m.PhysicalExamination, new { @id = "txtPhysicalExamination", @class = "form-control", required = "required", @placeholder = "Physical Examination / Observation" })
                        @Html.ValidationMessageFor(model => model.PhysicalExamination, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4 obs-sv-btn">
                    <div class="form-group">
                        <label class="form-control-label">
                            Diagnosis
                        </label>
                        @Html.TextBoxFor(m => m.Diagnosis, new { @id = "txtDiagnosis", @class = "form-control", required = "required", @placeholder = "Diagnosis" })
                        @Html.ValidationMessageFor(model => model.Diagnosis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" style="float: right;margin-top: 2em;">
                        <button type="button" onclick="SubmitObservationDetails()" class="btn btn_1 btn-primary" id="btnSave">Save</button>
                    </div>
                </div>
            </div>

        </form>
    }
    <br />
    <div class="row mg-table">
        <div class="col-lg-12">
            <div class="">
                <div class="">
                    <div class="table-responsive opd-table ">
                        <table class="table" id="tblObservation">
                            <thead>
                                <tr style="background: #f8f9fa;">
                                    <th hidden>Id</th>
                                    <th>Complaints</th>
                                    <th>Since</th>
                                    <th>Period</th>
                                    <th>Physical Exam./Observation</th>
                                    <th>Diagnosis</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.lst != null)
                                {
                                    foreach (var item in Model.lst)

                                    {


                                        <tr>
                                            <td hidden>@item.Id</td>
                                            <td>@item.Complaints</td>
                                            <td>@item.Since</td>
                                            <td>@item.Period</td>
                                            <td>@item.PhysicalExamination</td>
                                            <td>@item.Diagnosis</td>
                                            <td>
                                                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;
                                                <i class="fa fa-times" onclick="DeleteRecord('@item.Id')" aria-hidden="true"></i>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/js/front.js"></script>
<script src="~/js/Notifier.min.js"></script>
<script>

    //var notifier = new Notifier({
    //    position: 'bottom-right',
    //    direction: 'bottom'
    //});

    // Success 
    //document.getElementById("tostr-save").onclick = function () {
    //    notifier.notify("success", "Personal details saved successfully!");
    //};

    function SubmitObservationDetails() {

        var form = $('#frmObservationDetails')[0];

        var fromData = new FormData(form);
        var urllink = '@Url.Content("~/Prescription/ManageObservation")'
        $.ajax({
            type: "post",
            url: urllink,
            data: fromData,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#tblObservation tbody').empty();
                var trHTML = '';
                $.each(data, function (i, item) {
                    trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.Complaints + '</td><td>' + item.Since + '</td><td>' + item.Period + '</td><td>' + item.PhysicalExamination + '</td><td>' + item.Diagnosis + '</td><td><i class="fa fa-pencil" onclick=EditPICDetails(this) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                });
                $('#tblObservation tbody').append(trHTML)
                $("#hdnId").val('0');
                $("#txtComplaints").val('');
                $("#txtSince").val('');
                $("#txtPeriod").val('');
                $("#txtPhysicalExamination").val('');
                $("#txtDiagnosis").val('');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })

    }
    $(".fa-pencil").on("click", function () {

        var obj = $(this).parents("tr")
        $("#hdnId").val(obj.find('td')[0].innerHTML);
        $("#txtComplaints").val(obj.find('td')[1].innerHTML);
        $("#txtSince").val(obj.find('td')[2].innerHTML);
        $("#txtPeriod").val(obj.find('td')[3].innerHTML);
        $("#txtPhysicalExamination").val(obj.find('td')[4].innerHTML);
        $("#txtDiagnosis").val(obj.find('td')[5].innerHTML);

    });
    function EditPICDetails(this1) {
        var obj = $(this1).parents("tr")
        $("#hdnId").val(obj.find('td')[0].innerHTML);
        $("#txtComplaints").val(obj.find('td')[1].innerHTML);
        $("#txtSince").val(obj.find('td')[2].innerHTML);
        $("#txtPeriod").val(obj.find('td')[3].innerHTML);
        $("#txtPhysicalExamination").val(obj.find('td')[4].innerHTML);
        $("#txtDiagnosis").val(obj.find('td')[5].innerHTML);
    }
    function DeleteRecord(id) {
        if (confirm('Do you want to delete record ?')) {
            var form = $('#frmPrecMedication')[0];

            var fromData = new FormData(form);
            var urllink = '@Url.Content("~/Prescription/DeleteObservation")'
            $.ajax({
                type: "post",
                url: urllink,
                dataType: 'application/json',
                data: {

                    'Id': id
                },
                success: function (response) {
                    //var obj = $(this).parents("tr");
                    //obj.remove();
                    alert("Delete succesfuly ...");
                    location.reload();
                }
            }

           )
        }
    };

    $('.grid-show').click(function () {
        $('.mg-table').css("display", "block");
    });


</script>
