@model App_Layer.Medication
@{
    Layout = null;
}
<style>
    .table thead {
        background: #ffffff;
        color: #666;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff !important;
    }

    .table tbody {
        background: #ffffff;
    }

    .table tr:hover {
        box-shadow: 2px 4px 10px #fff;
    }
    /*.table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dedede!important;
    }
        .table td {
        border-top: 1px solid #dedede!important;
        vertical-align: middle!important;
    }*/
    .table th {
        padding-top: 15px;
    }

    .table {
        margin-bottom: 0rem;
    }

    .mg-table .table {
        border-bottom: 1px solid #d4d4d4;
    }

    .tbl-view-1 tr th:first-child {
        width: 20%;
    }

    .tbl-view-2 tr th:first-child {
        width: 20%;
    }

    .tbl-view-3 tr th:first-child {
        width: 20%;
    }

    .tbl-view-4 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }
</style>
<div class="card-body">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPrecMedication" }))
    {
        @Html.HiddenFor(m => m.Id, new { @id = "hdnPMId" });
        <form>
            @if (@Session["Language"].ToString() == "English")
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Medicine<span class="star">*</span>
                            </label>
                            @Html.TextBoxFor(m => m.MedicineName, new { @id = "txtMedicineName", @class = "form-control", required = "required", @placeholder = "Medicine Name" })
                            @Html.ValidationMessageFor(model => model.MedicineName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                When<span class="star">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.WhenMedicine, new List<SelectListItem>
                            {

                            new SelectListItem{ Text="Morning", Value = "Morning" },
                            new SelectListItem{ Text="Afternoon", Value = "Afternoon" },
                             new SelectListItem{ Text="Night", Value = "Night" },
                            new SelectListItem{ Text="2 Times a days", Value = "2 Times a days" },
                            new SelectListItem{ Text="3 Times a days", Value = "3 Times a days" },
                            new SelectListItem{ Text="4 Times a days", Value = "4 Times a days" },
                            new SelectListItem{ Text="5 Times a days", Value = "5 Times a days" },
                            new SelectListItem{ Text="6 Times a days", Value = "6 Times a days" },
                            new SelectListItem{ Text="SOS", Value = "SOS" },
                            }, new { @class = "form-control mb-3", @id = "ddlWhenMedicine" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Dose
                            </label>
                            @Html.DropDownListFor(m => m.Dose, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="1 Qty", Value = "1 Qty" },
                                                          new SelectListItem{ Text="½ Qty", Value = "½ Qty" },
                                                          new SelectListItem{ Text="1 ½ Qty", Value = "1 ½ Qty" },
                                                          new SelectListItem{ Text="2 Qty" , Value = "2 Qty" },
                                                            new SelectListItem{ Text="2+1/2  Qty", Value = "2+1/2 Qty" },
                                                            new SelectListItem{ Text="3 Qty", Value = "3 Qty" },
                                                             new SelectListItem{ Text="2 ½ ml", Value = "2 ½ ml" },
                                                            new SelectListItem{ Text="5  ml", Value = "3  ml" },
                                                            new SelectListItem{ Text="7 ½ ml", Value = "7 ½ ml" },
                                                            new SelectListItem{ Text="10  ml", Value = "10  ml" },
                                                              new SelectListItem{ Text="15 ml", Value = "15 ml" },
                                                            new SelectListItem{ Text="20 ml", Value = "20 ml" },
                                                              new SelectListItem{ Text="NA", Value = "NA" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlDose" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Repeat<span class="star">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.RepeatMedicine, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="Daily", Value = "Daily" },
                                                         new SelectListItem{ Text="Weekly", Value = "Weekly" },
                                                          new SelectListItem{ Text="Monthly", Value = "MonthlyB" },
                                                          new SelectListItem{ Text="Yearly", Value = "Yearly" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlRepeatMedicine" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                For<span class="star">*</span>
                            </label>
                            @Html.TextBoxFor(m => m.ForMedicine, new { @id = "txtForMedicine", @type = "number", @class = "form-control", required = "required", @placeholder = "For Medicine" })
                            @Html.ValidationMessageFor(model => model.ForMedicine, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Days<span class="star">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.MedicineDays, new List<SelectListItem>
                               {

                                   new SelectListItem{ Text="Days", Value = "Days" },
                                   new SelectListItem{ Text="Weeks", Value = "Weeks" },
                                    new SelectListItem{ Text="Months", Value = "Months" },
                                    new SelectListItem{ Text="Years", Value = "Years" },
                                }, new { @class = "form-control mb-3", @id = "MedicineDays" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Special Instruction<span class="star">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.SpecialInstruction, new List<SelectListItem>
                               {

                                   new SelectListItem{ Text="After Food", Value = "After Food" },
                                   new SelectListItem{ Text="Before Food", Value = "Before Food" },
                                    new SelectListItem{ Text="With Food", Value = "With Food" },
                                    new SelectListItem{ Text="Non", Value = "Non" },
                                }, new { @class = "form-control mb-3", @id = "ddlSpecialInstruction" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label class="form-control-label">
                                Medicine Qty.
                            </label>
                            @Html.TextBoxFor(m => m.AlternateMedicine, new { @id = "txtAlternateMedicine", @class = "form-control", required = "required", @placeholder = "Medicine Qty" })
                            @Html.ValidationMessageFor(model => model.AlternateMedicine, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4 obs-sv-btn">
                        <div class="form-group pull-right">
                            <button type="button" class="btn btn_1 btn-primary" onclick="SubmitMedicationDetails()" id="tostr-save5">Save</button>
                        </div>
                    </div>
                </div>
            }
            @if (@Session["Language"].ToString() == "Marathi")
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Medicine<span class="star">*</span>
                            </label>
                            @Html.TextBoxFor(m => m.MedicineName, new { @id = "txtMedicineName", @class = "form-control", required = "required", @placeholder = "Medicine Name" })
                            @Html.ValidationMessageFor(model => model.MedicineName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                When<span class="star">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.WhenMedicine, new List<SelectListItem>
                            {

                            new SelectListItem{ Text="सकाळी", Value = "सकाळी" },
                            new SelectListItem{ Text="दुपारी", Value = "दुपारी" },
                             new SelectListItem{ Text="रात्री", Value = "रात्री" },
                            new SelectListItem{ Text="दिवसातून 2 वेळा", Value = "दिवसातून 2 वेळा" },
                            new SelectListItem{ Text="दिवसातून 3 वेळा", Value = "दिवसातून 3 वेळा" },
                            new SelectListItem{ Text="दिवसातून 4 वेळा", Value = "दिवसातून 4 वेळा" },
                            new SelectListItem{ Text="दिवसातून 5 वेळा", Value = "दिवसातून 5 वेळा" },
                            new SelectListItem{ Text="दिवसातून 6 वेळा", Value = "दिवसातून 6 वेळा" },
                            new SelectListItem{ Text="SOS", Value = "SOS" },
                            }, new { @class = "form-control mb-3", @id = "ddlWhenMedicine" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Dose
                            </label>
                            @Html.DropDownListFor(m => m.Dose, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="1  गोळी", Value = "1  गोळी" },
                                                          new SelectListItem{ Text="½ गोळी", Value = "½ गोळी" },
                                                          new SelectListItem{ Text="1 ½ गोळी", Value = "1 ½ गोळी" },
                                                          new SelectListItem{ Text="2  गोळी" , Value = "2  गोळी" },
                                                            new SelectListItem{ Text="2+1/2  गोळी", Value = "2+1/2  गोळी" },
                                                            new SelectListItem{ Text="3  गोळी", Value = "3  गोळी" },
                                                             new SelectListItem{ Text="2 ½ मि.ली.", Value = "2 ½ मि.ली." },
                                                            new SelectListItem{ Text="5  मि.ली.", Value = "3  मि.ली.." },
                                                            new SelectListItem{ Text="7 ½ मि.ली.", Value = "7 ½ मि.ली." },
                                                            new SelectListItem{ Text="10  मि.ली.", Value = "10  मि.ली." },
                                                             new SelectListItem{ Text="15 मि.ली.", Value = "15 मि.ली." },
                                                            new SelectListItem{ Text="20  मि.ली.", Value = "20  मि.ली." },
                                                             new SelectListItem{ Text="NA", Value = "NA" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlDose" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Repeat<span class="star">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.RepeatMedicine, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="दररोज", Value = "दररोज" },
                                                         new SelectListItem{ Text="साप्ताहिक", Value = "साप्ताहिक" },
                                                          new SelectListItem{ Text="मासिक", Value = "मासिक" },
                                                          new SelectListItem{ Text="वार्षिक", Value = "वार्षिक" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlRepeatMedicine" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                For<span class="star">*</span>
                            </label>
                            @Html.TextBoxFor(m => m.ForMedicine, new { @id = "txtForMedicine", @type = "number", @class = "form-control", required = "required", @placeholder = "For Medicine" })
                            @Html.ValidationMessageFor(model => model.ForMedicine, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Days<span class="star">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.MedicineDays, new List<SelectListItem>
                               {

                                   new SelectListItem{ Text="दिवस", Value = "दिवस" },
                                   new SelectListItem{ Text="आठवडे", Value = "आठवडे" },
                                    new SelectListItem{ Text="महिने", Value = "महिने" },
                                    new SelectListItem{ Text="वर्षे", Value = "वर्षे" },
                                }, new { @class = "form-control mb-3", @id = "MedicineDays" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Special Instruction<span class="star">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.SpecialInstruction, new List<SelectListItem>
                               {

                                   new SelectListItem{ Text="जेवणापूर्वी ", Value = "जेवणापूर्वी " },
                                   new SelectListItem{ Text="जेवणानंतर", Value = "जेवणानंतर" },
                                    new SelectListItem{ Text="जेवणासह", Value = "जेवणासह" },
                                    new SelectListItem{ Text="Non", Value = "Non" },
                                }, new { @class = "form-control mb-3", @id = "ddlSpecialInstruction" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label class="form-control-label">
                                Medicine Qty.
                            </label>
                            @Html.TextBoxFor(m => m.AlternateMedicine, new { @id = "txtAlternateMedicine", @class = "form-control", required = "required", @placeholder = "Medicine Qty." })
                            @Html.ValidationMessageFor(model => model.AlternateMedicine, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4 obs-sv-btn">
                        <div class="form-group pull-right">
                            <button type="button" class="btn btn_1 btn-primary" onclick="SubmitMedicationDetails()" id="tostr-save5">Save</button>
                        </div>
                    </div>
                </div>
            }
        </form>

    }
    <br />
    <div class="row mg-table">
        <div class="col-md-12">
            <div class="">
                <div class="">
                    <div class="table-responsive opd-table">
                        <table class="table" id="tblprecMedication">
                            <thead>
                                <tr style="background: #f8f9fa;">
                                    <th hidden>Id</th>
                                    <th>Medicine</th>
                                    <th>When</th>
                                    <th>Dose</th>
                                    <th>Repeat</th>
                                    <th>For</th>
                                    <th>Days</th>
                                    <th>Special Instruction</th>
                                    <th>Medicine Qty.</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.lst != null)
                                {
                                    foreach (var item in Model.lst)
                                    {
                                        <tr>
                                            <td hidden>@item.Id</td>
                                            <td>@item.MedicineName</td>
                                            <td>@item.WhenMedicine</td>
                                            <td>@item.Dose</td>
                                            <td>@item.RepeatMedicine</td>
                                            <td>@item.ForMedicine</td>
                                            <td>@item.MedicineDays</td>
                                            <td>@item.SpecialInstruction</td>
                                            <td>@item.AlternateMedicine</td>

                                            <td>
                                                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;
                                                <i class="fa fa-times" onclick="DeleteRecord('@item.Id')" aria-hidden="true"></i>

                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/front.js"></script>
    <script src="~/js/Notifier.min.js"></script>
    @*<script>

            var urllink = '@Url.Content("~/MyOPD/Med")'
            $("#txtMedicineName").autocomplete({

                source: function (request, response) {
                    alert('k')
                    $.ajax({
                        url: urllink,
                        type: "POST",
                        dataType: "json",
                        data: { search: $("#txtMedicineName").val() },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.MedicineName, value: item.MedicineName };
                            }));
                        },
                        error: function (xhr, status, error) {
                            // alert("Error");
                        }
                    });
                }
            });
        </script>*@
    <script>
        function SubmitMedicationDetails() {
            var MedicineName = $("#txtMedicineName").val();

            if (MedicineName == "" || MedicineName == null) {
                alert("Please Enter Medicine Name field is Required." + MedicineName);
                $("#txtMedicineName").focus();
                return;


            }
            else {

                var form = $('#frmPrecMedication')[0];
                var fromData = new FormData(form);
                var urllink = '@Url.Content("~/Prescription/ManageMedication")'

                $.ajax({
                    type: "post",
                    url: urllink,
                    data: fromData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#tblprecMedication tbody').empty();
                        var trHTML = '';
                        $.each(data, function (i, item) {
                            trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.MedicineName + '</td><td>' + item.WhenMedicine + '</td><td>' + item.Dose + '</td><td>' + item.RepeatMedicine + '</td><td>' + item.ForMedicine + '</td><td>' + item.MedicineDays + '</td><td>' + item.SpecialInstruction + '</td><td>' + item.AlternateMedicine + '</td></td><td><i class="fa fa-pencil" onclick=EditDetails(this) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                        });
                        $('#tblprecMedication tbody').append(trHTML)
                        $("#hdnPMId").val('0');
                        $("#txtMedicineName").val('');
                        $("#txtWhenMedicine").val('');
                        $("#txtDose").val('');
                        $("#txtRepeatMedicine").val('');
                        $("#txtForMedicine").val('');
                        $("#txtMedicineDays").val('');
                        $("#txtSpecialInstruction").val('');
                        $("#txtAlternateMedicine").val('');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                })
            }
        }
        $(".fa-pencil").on("click", function () {
            var obj = $(this).parents("tr")
            $("#hdnPMId").val(obj.find('td')[0].innerHTML);
            $("#txtMedicineName").val(obj.find('td')[1].innerHTML);
            $("#txtWhenMedicine").val(obj.find('td')[2].innerHTML);
            $("#txtDose").val(obj.find('td')[3].innerHTML);
            $("#txtRepeatMedicine").val(obj.find('td')[4].innerHTML);
            $("#txtForMedicine").val(obj.find('td')[5].innerHTML);
            $("#txtMedicineDays").val(obj.find('td')[6].innerHTML);
            $("#txtSpecialInstruction").val(obj.find('td')[7].innerHTML);
            $("#txtAlternateMedicine").val(obj.find('td')[8].innerHTML);

        });
        function EditDetails(this1) {
            var obj = $(this1).parents("tr")
            $("#hdnPMId").val(obj.find('td')[0].innerHTML);
            $("#txtMedicineName").val(obj.find('td')[1].innerHTML);
            $("#txtWhenMedicine").val(obj.find('td')[2].innerHTML);
            $("#txtDose").val(obj.find('td')[3].innerHTML);
            $("#txtRepeatMedicine").val(obj.find('td')[4].innerHTML);
            $("#txtForMedicine").val(obj.find('td')[5].innerHTML);
            $("#txtMedicineDays").val(obj.find('td')[6].innerHTML);
            $("#txtSpecialInstruction").val(obj.find('td')[7].innerHTML);
            $("#txtAlternateMedicine").val(obj.find('td')[8].innerHTML);
        }
        function DeleteRecord(id) {
            if (confirm('Do you want to delete record ?')) {
                var urllink = '@Url.Content("~/Prescription/DeleteMedication")'
                $.ajax({
                    type: "post",
                    url: urllink,
                    data: '{Id: "' + id + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#tblprecMedication tbody').empty();
                        var trHTML = '';
                        $.each(data, function (i, item) {
                            trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.MedicineName + '</td><td>' + item.WhenMedicine + '</td><td>' + item.Dose + '</td><td>' + item.RepeatMedicine + '</td><td>' + item.ForMedicine + '</td><td>' + item.MedicineDays + '</td><td>' + item.SpecialInstruction + '</td><td>' + item.AlternateMedicine + '</td></td><td><i class="fa fa-pencil" onclick=EditDetails(this) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                        });
                        $('#tblprecMedication tbody').append(trHTML)
                    }
                }

               )
            }
        };

    </script>
    <script>
        $(document).ready(function () {

            var MedicineName = $("#txtMedicineName").val();

            $("#txtMedicineName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/MyOPD/Med",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.MedicineName, value: item.MedicineName };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })







        //$(function () {
        //    var Project = [
        //        "DHTMLX DEMO",
        //        "GHUMLI",
        //        "PROJECT ABC",
        //        "TIMESHEET",
        //        "VINTAGE CARS",
        //        "IPA-PCS",
        //        "BID",
        //        "DOC-AUDIT"
        //    ];
        //    var Activity = [
        //        "Development",
        //        "Deployment",
        //        "Testing",
        //        "Database Creation",
        //        "Demo to User",
        //        "Team Coordination",
        //        "Planning",
        //        "Project Setup",
        //        "R&D"
        //    ];
        //    $("#txtComplaints").autocomplete({
        //        source: Project
        //    });
        //    $("input[name=Activity]").autocomplete({
        //        source: Activity
        //    });
        //});
    </script>
</div>