@model App_Layer.Medication
@{
    Layout = null;
}
<style>
    .table thead {
        background: #ffffff;
        color: #666;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff !important;
    }

    .table tbody {
        background: #ffffff;
    }

    .table tr:hover {
        box-shadow: 2px 4px 10px #fff;
    }
    /*.table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dedede!important;
    }
        .table td {
        border-top: 1px solid #dedede!important;
        vertical-align: middle!important;
    }*/
    .table th {
        padding-top: 15px;
    }

    .table {
        margin-bottom: 0rem;
    }

    .mg-table .table {
        border-bottom: 1px solid #d4d4d4;
    }

    .tbl-view-1 tr th:first-child {
        width: 20%;
    }

    .tbl-view-2 tr th:first-child {
        width: 20%;
    }

    .tbl-view-3 tr th:first-child {
        width: 20%;
    }

    .tbl-view-4 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }
</style>
<div class="card-body">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPrecMedication" }))
    {
        @Html.HiddenFor(m => m.Id, new { @id = "hdnId" });
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Medicine Name<span class="star">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.MedicineName, new { @id = "txtMedicineName", @class = "form-control", required = "required", @placeholder = "Medicine Name" })
                        @Html.ValidationMessageFor(model => model.MedicineName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            When<span class="star">*</span>
                        </label>
                        @Html.DropDownListFor(m => m.WhenMedicine, new List<SelectListItem>
                            {

                            new SelectListItem{ Text="Morning", Value = "Morning" },
                            new SelectListItem{ Text="Afternoon", Value = "Afternoon" },
                             new SelectListItem{ Text="Night", Value = "Night" },
                            new SelectListItem{ Text="2 Times a days", Value = "2" },
                            new SelectListItem{ Text="3 Times a days", Value = "3" },
                            new SelectListItem{ Text="4 Times a days", Value = "4" },
                            new SelectListItem{ Text="5 Times a days", Value = "5" },
                            new SelectListItem{ Text="6 Times a days", Value = "6" },
                            new SelectListItem{ Text="SOS", Value = "SOS" },
                            }, new { @class = "form-control mb-3", @id = "ddlWhenMedicine" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Dose
                        </label>
                        @Html.DropDownListFor(m => m.Dose, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="1/2", Value = "1/2" },
                                                         new SelectListItem{ Text="1", Value = "1" },
                                                          new SelectListItem{ Text="1+1/2", Value = "1+1/2" },
                                                          new SelectListItem{ Text="2", Value = "2" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlDose" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Repeat<span class="star">*</span>
                        </label>
                        @Html.DropDownListFor(m => m.RepeatMedicine, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="Daily", Value = "Daily" },
                                                         new SelectListItem{ Text="Weekly", Value = "Weekly" },
                                                          new SelectListItem{ Text="Monthy", Value = "Monthy" },
                                                          new SelectListItem{ Text="Yearly", Value = "Yearly" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlRepeatMedicine" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            For<span class="star">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.ForMedicine, new { @id = "txtForMedicine", @type = "number", @class = "form-control", required = "required", @placeholder = "For Medicine" })
                        @Html.ValidationMessageFor(model => model.ForMedicine, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Days<span class="star">*</span>
                        </label>
                        @Html.DropDownListFor(m => m.MedicineDays, new List<SelectListItem>
                               {

                                   new SelectListItem{ Text="Day", Value = "Day" },
                                   new SelectListItem{ Text="Week", Value = "Week" },
                                    new SelectListItem{ Text="Month", Value = "Month" },
                                    new SelectListItem{ Text="Year", Value = "Year" },
                                }, new { @class = "form-control mb-3", @id = "MedicineDays" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Special Instruction<span class="star">*</span>
                        </label>
                        @Html.DropDownListFor(m => m.SpecialInstruction, new List<SelectListItem>
                               {

                                   new SelectListItem{ Text="After Food", Value = "AfterFood" },
                                   new SelectListItem{ Text="Before Food", Value = "BeforeFood" },
                                    new SelectListItem{ Text="With Food", Value = "WithFood" },
                                    new SelectListItem{ Text="Non", Value = "Non" },
                                }, new { @class = "form-control mb-3", @id = "ddlSpecialInstruction" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="form-control-label">
                            Alternate Medicine
                        </label>
                        @Html.TextBoxFor(m => m.AlternateMedicine, new { @id = "txtAlternateMedicine", @class = "form-control", required = "required", @placeholder = "Alternate Medicine" })
                        @Html.ValidationMessageFor(model => model.AlternateMedicine, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4 obs-sv-btn">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn_1 btn-primary" onclick="SubmitObservationDetails()" id="tostr-save5">Save</button>
                    </div>
                </div>
            </div>
        </form>

    }
    <br />
    <div class="row mg-table">
        <div class="col-md-12">
            <div class="">
                <div class="">
                    <div class="table-responsive opd-table">
                        <table class="table" id="tblprecMedication">
                            <thead>
                                <tr style="background: #f8f9fa;">
                                    <th hidden>Id</th>
                                    <th>Medicine</th>
                                    <th>When</th>
                                    <th>Dose</th>
                                    <th>Repeat</th>
                                    <th>For</th>
                                    <th>Days</th>
                                    <th>Special Instruction</th>
                                    <th>Alternate Medicine</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.lst != null)
                                {
                                    foreach (var item in Model.lst)
                                    {
                                        <tr>
                                            <td hidden>@item.Id</td>
                                            <td>@item.MedicineName</td>
                                            <td>@item.WhenMedicine</td>
                                            <td>@item.Dose</td>
                                            <td>@item.RepeatMedicine</td>
                                            <td>@item.ForMedicine</td>
                                            <td>@item.MedicineDays</td>
                                            <td>@item.SpecialInstruction</td>
                                            <td>@item.AlternateMedicine</td>

                                            <td>
                                                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;
                                                <i class="fa fa-times" onclick="DeleteRecord('@item.Id')" aria-hidden="true"></i>

                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function SubmitObservationDetails() {

            var form = $('#frmPrecMedication')[0];

            var fromData = new FormData(form);
            var urllink = '@Url.Content("~/Prescription/ManageMedication")'

            $.ajax({
                type: "post",
                url: urllink,
                data: fromData,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#tblprecMedication tbody').empty();
                    var trHTML = '';
                    $.each(data, function (i, item) {
                        trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.MedicineName + '</td><td>' + item.WhenMedicine + '</td><td>' + item.Dose + '</td><td>' + item.RepeatMedicine + '</td><td>' + item.ForMedicine + '</td><td>' + item.MedicineDays + '</td><td>' + item.SpecialInstruction + '</td><td>' + item.AlternateMedicine + '</td></td><td><i class="fa fa-pencil" onclick=EditDetails(this) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                    });
                    $('#tblprecMedication tbody').append(trHTML)
                    $("#hdnId").val('0');
                    $("#txtMedicineName").val('');
                    $("#txtWhenMedicine").val('');
                    $("#txtDose").val('');
                    $("#txtRepeatMedicine").val('');
                    $("#txtForMedicine").val('');
                    $("#txtMedicineDays").val('');
                    $("#txtSpecialInstruction").val('');
                    $("#txtAlternateMedicine").val('');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })

        }
        $(".add-row").on("click", function () {
            var obj = $(this).parents("tr")
            $("#hdnId").val(obj.find('td')[0].innerHTML);
            $("#txtMedicineName").val(obj.find('td')[1].innerHTML);
            $("#txtWhenMedicine").val(obj.find('td')[2].innerHTML);
            $("#txtDose").val(obj.find('td')[3].innerHTML);
            $("#txtRepeatMedicine").val(obj.find('td')[4].innerHTML);
            $("#txtForMedicine").val(obj.find('td')[5].innerHTML);
            $("#txtMedicineDays").val(obj.find('td')[6].innerHTML);
            $("#txtSpecialInstruction").val(obj.find('td')[7].innerHTML);
            $("#txtAlternateMedicine").val(obj.find('td')[8].innerHTML);

        });
        function EditDetails(this1) {
            var obj = $(this1).parents("tr")
            $("#hdnId").val(obj.find('td')[0].innerHTML);
            $("#txtMedicineName").val(obj.find('td')[1].innerHTML);
            $("#txtWhenMedicine").val(obj.find('td')[2].innerHTML);
            $("#txtDose").val(obj.find('td')[3].innerHTML);
            $("#txtRepeatMedicine").val(obj.find('td')[4].innerHTML);
            $("#txtForMedicine").val(obj.find('td')[5].innerHTML);
            $("#txtMedicineDays").val(obj.find('td')[6].innerHTML);
            $("#txtSpecialInstruction").val(obj.find('td')[7].innerHTML);
            $("#txtAlternateMedicine").val(obj.find('td')[8].innerHTML);
        }
        function DeleteRecord(id) {

            var form = $('#frmPrecMedication')[0];

            var fromData = new FormData(form);
            var urllink = '@Url.Content("~/Prescription/DeleteMedication")'
            $.ajax({
                type: "post",
                url: urllink,
                dataType: 'application/json',
                data: {

                    'Id': id
                },
                success: function (response) {
                    alert("succesfuly saved...");
                }
            }

           )


        };
        $('.grid-show').click(function () {
            $('.mg-table').css("display", "block");
        });
    </script>
</div>