@model App_Layer.Common
@{
    Layout = null;
}
<style>
    .table thead {
        background: #ffffff;
        color: #666;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff !important;
    }

    .table tbody {
        background: #ffffff;
    }

    .table tr:hover {
        box-shadow: 2px 4px 10px #fff;
    }
    /*.table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dedede!important;
    }
        .table td {
        border-top: 1px solid #dedede!important;
        vertical-align: middle!important;
    }*/
    .table th {
        padding-top: 15px;
    }

    .table {
        margin-bottom: 0rem;
    }

    .mg-table .table {
        border-bottom: 1px solid #d4d4d4;
    }

    .tbl-view-1 tr th:first-child {
        width: 20%;
    }

    .tbl-view-2 tr th:first-child {
        width: 20%;
    }

    .tbl-view-3 tr th:first-child {
        width: 20%;
    }

    .tbl-view-4 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }
</style>
<div class="card-body">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPrecCommon" }))
    {
        @Html.HiddenFor(m => m.Id, new { @id = "hdnPCId" });
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Test
                        </label>
                        @Html.TextBoxFor(m => m.InvSelectTests, new { @id = "txtinvTest", @class = "form-control", @placeholder = "Test" })
                        @Html.ValidationMessageFor(model => model.InvSelectTests, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Note
                        </label>
                        @Html.TextBoxFor(m => m.InvNotes, new { @id = "txtinvNote", @class = "form-control", @placeholder = "Note" })
                        @Html.ValidationMessageFor(model => model.InvNotes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Advice
                        </label>
                        @Html.TextBoxFor(m => m.AddAdvice, new { @id = "txtAdvice", @class = "form-control", @placeholder = "Advice" })
                        @Html.ValidationMessageFor(model => model.AddAdvice, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Diet
                        </label>
                        @Html.TextBoxFor(m => m.AddDiet, new { @id = "txtDiet", @class = "form-control", @placeholder = "Diet" })
                        @Html.ValidationMessageFor(model => model.AddDiet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Next Visit After
                        </label>
                        @Html.TextBoxFor(m => m.NextVisitAfter, new { @id = "txtVisit", @type = "number", @class = "form-control", @placeholder = "Next Visit After" })
                        @Html.ValidationMessageFor(model => model.NextVisitAfter, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">
                            Frequency
                        </label>
                        @Html.DropDownListFor(m => m.FrequencyDate, new List<SelectListItem>
                               {

                                   new SelectListItem{ Text="Days", Value = "Days" },
                                   new SelectListItem{ Text="Weeks", Value = "Weeks" },
                                    new SelectListItem{ Text="Months", Value = "Months" },
                                    new SelectListItem{ Text="Years", Value = "Years" },
                                }, new { @class = "form-control mb-3", @id = "ddlFrequency" })
                    </div>

                </div>

            </div>


        </form>
    }
    <br />
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" onclick="SubmitCommonDetails()" class="btn btn_1 btn-primary" id="tostr-save6">Save</button>
        </div>
    </div>
    <br />
    <div class="row mg-table">
        <div class="col-lg-12">
            <div class="">
                <div class="">
                    <div class="table-responsive opd-table">
                        <table class="table" id="tblCommonn">
                            <thead>
                                <tr style="background: #f8f9fa;">
                                    <th hidden>Id</th>
                                    <th>Test</th>
                                    <th>Note</th>
                                    <th>Advice</th>
                                    <th>Diet</th>
                                    <th>Next Visit</th>
                                    <th>Frequency</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lst)
                                {
                                    <tr>
                                        <td hidden>@item.Id</td>
                                        <td>@item.InvSelectTests</td>
                                        <td>@item.InvNotes</td>
                                        <td>@item.AddAdvice</td>
                                        <td>@item.AddDiet</td>
                                        <td>@item.NextVisitAfter</td>
                                        <td>@item.FrequencyDate</td>

                                        <td>
                                            <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;
                                            <i class="fa fa-times" onclick="DeleteRecord('@item.Id')" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



   
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group pull-right">
                        <label class="form-control-label">
                            Attachment
                        </label>
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPrecCommonAttachment", enctype = "multipart/form-data" }))
{
                        <form>
                            <input type="file" id="imgfile" name="imgfile" placeholder="Email-Id / Mobile No." class="form-control">
                        </form>
}</div>
                </div>

               
           
        
     
<div class="col-md-3">
    <br />
    <div class="form-group pull-right" style="padding-top:0.5em">
        <button type="submit" onclick="UploadFile()" class="btn btn_1 btn-primary" id="tostr-save6">Upload File</button>
    </div>
</div>
 </div>
        </div>
        <script>

            function UploadFile() {
                debugger;
                var form = $('#frmPrecCommonAttachment')[0];

                var fromData = new FormData(form);
                var urllink = '@Url.Content("~/Prescription/UploadFile")'
                $.ajax({
                    type: "post",
                    url: urllink,
                    data: fromData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        debugger;
                        //if (data.Flag == 1)
                        //{
                        alert(result);
                        //}
                        return;

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                })
                return;
            }

            function SubmitCommonDetails() {

                var form = $('#frmPrecCommon')[0];

                var fromData = new FormData(form);
                var urllink = '@Url.Content("~/Prescription/ManagePrecCommonDetails")'
                $.ajax({
                    type: "post",
                    url: urllink,
                    data: fromData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#tblCommonn tbody').empty();
                        var trHTML = '';
                        $.each(data, function (i, item) {
                            trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.InvSelectTests + '</td><td>' + item.InvNotes + '</td><td>' + item.AddAdvice + '</td><td>' + item.AddDiet + '</td><td>' + item.NextVisitAfter + '</td><td>' + item.FrequencyDate + '</td><td><i class="fa fa-pencil" onclick=EditPICDetails(this) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                        });
                        $('#tblCommonn tbody').append(trHTML)
                        $("#hdnPCId").val('0');
                        $("#txtinvTest").val('');
                        $("#txtinvNote").val('');
                        $("#txtAdvice").val('');
                        $("#txtDiet").val('');
                        $("#txtVisit").val('');
                        $("#ddlFrequency").val('');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                })

            }
            $(".fa-pencil").on("click", function () {
                debugger
                var obj = $(this).parents("tr")
                $("#hdnPCId").val(obj.find('td')[0].innerHTML);
                $("#txtinvTest").val(obj.find('td')[1].innerHTML);
                debugger
                $("#txtinvNote").val(obj.find('td')[2].innerHTML);
                $("#txtAdvice").val(obj.find('td')[3].innerHTML);
                $("#txtDiet").val(obj.find('td')[4].innerHTML);
                $("#txtVisit").val(obj.find('td')[5].innerHTML);
                $("#ddlFrequency").val(obj.find('td')[6].innerHTML);

            });
            function EditPICDetails(this1) {
                debugger
                var obj = $(this1).parents("tr")
                $("#hdnPCId").val(obj.find('td')[0].innerHTML);
                $("#txtinvTest").val(obj.find('td')[1].innerHTML);
                debugger
                $("#txtinvNote").val(obj.find('td')[2].innerHTML);
                $("#txtAdvice").val(obj.find('td')[3].innerHTML);
                $("#txtDiet").val(obj.find('td')[4].innerHTML);
                $("#txtVisit").val(obj.find('td')[5].innerHTML);
                $("#ddlFrequency").val(obj.find('td')[6].innerHTML);
            }
            function DeleteRecord(id) {
                if (confirm('Do you want to delete record ?')) {
                    var urllink = '@Url.Content("~/Prescription/DeleteCommon")'
                    $.ajax({
                        type: "post",
                        url: urllink,
                        data: '{Id: "' + id + '"}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            $('#tblCommonn tbody').empty();
                            var trHTML = '';
                            $.each(data, function (i, item) {
                                trHTML += '<tr ><td hidden>' + item.Id + '</td><td>' + item.InvSelectTests + '</td><td>' + item.InvNotes + '</td><td>' + item.AddAdvice + '</td><td>' + item.AddDiet + '</td><td>' + item.NextVisitAfter + '</td><td>' + item.FrequencyDate + '</td><td><i class="fa fa-pencil" onclick=EditPICDetails(this) aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-times" onclick=DeleteRecord("' + item.Id + '") aria-hidden="true"></i></td></tr>';
                            });
                            $('#tblCommonn tbody').append(trHTML);
                        }
                    }

                   )
                }
            };
            //$('.grid-show').click(function () {
            //    $('.mg-table').css("display", "block");
            //});
        </script>
