
@{
    Layout = null;
}
<div class="bs-example">
    <div class="accordion" id="accordionExample1">


        <div class="second-tab">
           
            <div class="card">

                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link" id="btnObservation" data-toggle="collapse" data-target="#collapseFour" data-request-url="@Url.Action("PrecObservation", "MyOPD")"><i class="fa fa-plus"></i> <span class="accor-heading">Observation</span></button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample1">
                    <div id="tabObservation"></div>
                </div>
            </div>
            @if (Session["ActivationFor"].ToString() == "Smart Doctor" || Session["ActivationFor"].ToString() == "Smart Dentist")
            {
                <div class="card">

                    <div class="card-header" id="headingDentalExaminationPage">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" id="btnDentalExaminationPage" data-toggle="collapse" data-target="#collapseDentalExaminationPage" data-request-url="@Url.Action("DentalExaminationPage", "MyOPD")"><i class="fa fa-plus"></i> <span class="accor-heading">Treatment Plan</span></button>
                        </h2>
                    </div>
                    <div id="collapseDentalExaminationPage" class="collapse" aria-labelledby="headingDentalExaminationPage" data-parent="#accordionExample1">
                        <div id="tabDentalExaminationPage"></div>
                    </div>
                </div>
            }

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" id="btnMedication" data-toggle="collapse" data-request-url="@Url.Action("MedicationPrec", "MyOPD")" data-target="#collapseFive"><i class="fa fa-plus"></i> <span class="accor-heading">Medication</span></button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample1">
                    <div id="tabMedication"></div>
                </div>

            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button type="button" id="btnCommon" class="btn btn-link collapsed" data-toggle="collapse" data-request-url="@Url.Action("CommonPrec", "MyOPD")" data-target="#collapseSix"><i class="fa fa-plus"></i> <span class="accor-heading">Suggestion</span></button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample1">
                    <div id="tabCommon"></div>
                </div>
            </div>
            @*<button type="button" onclick="SetStatus(this)" class="btn btn_1 btn-primary pull-right" data-dismiss="modal">Finalize</button>*@
        </div>

    </div>
</div>
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/front.js"></script>
<script>
    //$(".nav-tabs li").removeClass("active"); btnInvestigation

    $("#btnDentalExaminationPage").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabDentalExaminationPage").load(url);
    });

    $("#btnObservation").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabObservation").load(url);
    });
    $("#btnMedication").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabMedication").load(url);
    });
    $("#btnCommon").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabCommon").load(url);
    });
</script>
<script>

    //$('.opd-table .add-row').click(function () {
    //    $('.opd-table .table').append('<tr><td contenteditable="true">001</td><td contenteditable="true">Fever</td><td contenteditable="true">2 Week</td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times"  onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    //});


    $('.opd-table1 .add-row-billing').click(function () {
        $('.opd-table1 .table').append('<tr><td>1</td><td contenteditable="true">Fever</td><td contenteditable="true">1000</td><td contenteditable="true">Paid</td><td contenteditable="true">0</td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times add-row-billing" onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    });

    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function SomeDeleteRowFunction1(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    $('#r1').click(function () {
        $('.refe-letr').css("display", "block");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "none");
    });
    $('#r2').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "block");
        $('.medicl-cert').css("display", "none");
    });
    $('#r3').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "block");
    });


    function SetStatus(x) {

        var CPno = $(this).attr("data-image");


        var form = $('#frmObservationDetails')[0];

        var fromData = new FormData(form);
        var urllink = '@Url.Content("~/Prescription/StatusChange")'
        $.ajax({
            type: "post",
            url: urllink,
            dataType: 'application/json',
            data: {


            },
            success: function (response) {
                alert("succesfuly saved...");
            }
        }

       )
    };

</script>
