@model App_Layer.VitalInformation
@{
    Layout = null;
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmVitalInfomation" }))
{
    @Html.HiddenFor(m => m.Id);
    @Html.HiddenFor(m => m.CasePaperNo);
    <div class="card-body table">
        <div class="row viral-span">
            <div class="col-md-3">
                <label class="form-control-label">Blood Pressure</label>
                <div class="row">
                    <div class="col-md-3 col-4">
                        @Html.TextBoxFor(m => m.BloodPressure, new { @id = "txtBloodPressure", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-6 col-4">
                        <span>mmHg</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Temperature</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.Temperature, new { @id = "txtTemperature", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>&#8457;</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Blood Glucose Post Prandial</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.BloodGlucosePostPrandial, new { @id = "txtBloodGlucosePostPrandial", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>mg/dL</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Weight</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.Weight, new { @id = "txtWeight", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>kg</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row viral-span">
            <div class="col-md-3">
                <label class="form-control-label">Height</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.Height, new { @id = "txtHeight", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>cms</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Pulse</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.Pulse, new { @id = "txtPulse", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>/min</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Blood Glucose Fasting</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.BloodGlucoseFasting, new { @id = "txtBloodGlucoseFasting", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>mg/dL</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Blood Glucose Random</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.BloodlucoseRandom, new { @id = "txtBloodlucoseRandom", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>mg/dL</span>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row viral-span">
            <div class="col-md-3">
                <label class="form-control-label">Blood Urea</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.BloodUrea, new { @id = "txtBloodUrea", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>mg/dL</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Creatinine</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.Creatinine, new { @id = "txtCreatinine", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>mg/dL</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Uric Acid M</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.UricAcidM, new { @id = "txtUricAcidM", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>mg/dL</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">HB</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.HB, new { @id = "txtHB", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row viral-span">
            <div class="col-md-3">
                <label class="form-control-label">PCV</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.PCV, new { @id = "txtPCV", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>%</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">WBC Count</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.WBCCount, new { @id = "txtWBCCount", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>cells/cumm</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Platelet Count</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.PlateletCount, new { @id = "txtPlateletCount", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>cells/cumm</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">ESR</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.ESR, new { @id = "txtESR", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>mm/hr</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row viral-span">
            <div class="col-md-3">
                <label class="form-control-label">RBC Count</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.RBCCount, new { @id = "txtRBCCount", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>Mil/cumm</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">MCH</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.MCH, new { @id = "txtMCH", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>pg</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">MCHC</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.MCHC, new { @id = "txtMCHC", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>gms/dL</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Lymphocyte</label>
                <div class="row">
                    <div class="col-md-3 col-7">
                        @Html.TextBoxFor(m => m.Lymphocyte, new { @id = "txtLymphocyte", @class = "form-control", @placeholder = "0.00" })
                    </div>
                    <div class="col-md-3 col-5">
                        <span>%</span>
                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Eosinophil</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.Eosinophil, new { @id = "txtEosinophil", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Serum Bilirubin</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.SerumBilirubin, new { @id = "txtSerumBilirubin", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">SGPT ALT</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.SGPTALT, new { @id = "txtSGPTALT", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>IU/L</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">GGPT</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.GGPT, new { @id = "txtGGPT", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>IU/L</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Total Protein</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.TotalProtein, new { @id = "txtTotalProtein", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>G/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Serum Albumin</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.SerumAlbumin, new { @id = "txtSerumAlbumin", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>G/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Globulin</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.Globulin, new { @id = "txtGlobulin", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>G/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Alkaline Phosphatase</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.AlkalinePhosphatase, new { @id = "txtAlkalinePhosphatase", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>U/L</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">SGOT</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.SGOT, new { @id = "txtSGOT", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>U/L</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Total Cholesterol</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.TotalCholesterol, new { @id = "txtTotalCholesterol", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">HDL Cholesterol</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.HDLCholestero, new { @id = "txtHDLCholestero", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">LDL Cholesterol</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.LDLCholesterol, new { @id = "txtLDLCholesterol", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Triglycerides</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.Triglycerides, new { @id = "txtTriglycerides", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Non HDL</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.NonHDL, new { @id = "txtNonHDL", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">HbA1c</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.HbA1c, new { @id = "txtHbA1c", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">TSH</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.TSH, new { @id = "txtTSH", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>ulU/mL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">SPO2</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.SPO2, new { @id = "txtSPO2", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">RR</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.RR, new { @id = "txtRR", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>/min</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Head Circumference</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    @Html.TextBoxFor(m => m.HeadCircumference, new { @id = "txtHeadCircumference", @class = "form-control", @placeholder = "0.00" })
                </div>
                <div class="col-md-3 col-5">
                    <span>cm</span>
                </div>
            </div>
        </div>
    </div>*@
        <br />
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" onclick="SubmitVitalInfomationInformationDetails()" class="btn btn_1 btn-primary" id="tostr-save9">Save</button>
            </div>
        </div>
    </div>
}
<script>
    function SubmitVitalInfomationInformationDetails() {

        var form = $('#frmVitalInfomation')[0];

            var fromData = new FormData(form);
            var urllink = '@Url.Content("~/TabDetails/ManageVitalInformation")'

            $.ajax({
                type: "post",
                url: urllink,
                data: fromData,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert("Details Updated Sucessfully.");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })

        }
</script>