
@model App_Layer.AdminDetails
@{
    ViewBag.Title = "AdminRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Create Admin</h2>
        </div>
    </header>

    <section class="forms">
        @using (Html.BeginForm("ManageAdminDetails", "AdminDetails", FormMethod.Post, new { @id = "frmAdminDetails" }))
        {
            @Html.HiddenFor(m => m.UserId);
            <div class="container-fluid">
                <div class="row">
                    <!-- Basic Form-->
                    <div class="col-lg-12">
                        <div class="card">
                            <!-- <div class="card-close">
                              <div class="dropdown">
                                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                              </div>
                            </div> -->
                            <!-- <div class="card-header d-flex align-items-center">
                              <h3 class="h4">Basic Form</h3>
                            </div> -->
                            <div class="card-body">
                                <p>Need to fill mandatory fields.</p>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Name<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.FirstName, new { @id = "txtName", @class = "form-control", required = "required", @placeholder = "Name" })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Degree<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.Education, new { @id = "txtDegree", @class = "form-control", required = "required", @placeholder = "eg. MBBS" })
                                                @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Registration No.<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.RegNumber, new { @id = "txtRegNumber", @class = "form-control", required = "required", @placeholder = "eg. 12345" })
                                                @Html.ValidationMessageFor(model => model.RegNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Gender<span class="star">*</span>
                                                </label>
                                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="Male", Value = "Male" },
                                                         new SelectListItem{ Text="Female", Value = "Female" },
                                                          new SelectListItem{ Text="Other", Value = "Other" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlGender" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Date of Birth</label>
                                                <div class="c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day mt10">
                                                    @Html.TextBoxFor(m => m.DateOfBirth, new { @id = "txtDOB", @type = "text", @class = "form-control c-datepicker-data-input only-date",@placeholder = "eg. dd/mm/yyyy" })
                                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Age
                                                </label>
                                                @Html.TextBoxFor(m => m.Age, new { @id = "txtAge", @class = "form-control", @placeholder = "eg. 10" })
                                                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Mobile No.<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.WhatsAppNumber, new { @id = "txtWhatsAppNumber", @class = "form-control", @maxlength = "13", required = "required", @placeholder = "eg. 0123456789" })
                                                @Html.ValidationMessageFor(model => model.WhatsAppNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Other No.</label>
                                                @Html.TextBoxFor(m => m.OtherNumber, new { @id = "txtOtherNo", @maxlength = "13", @class = "form-control", @onkeypress = "return isNumber(event)", @placeholder = "eg. 0123456789" })
                                                @Html.ValidationMessageFor(model => model.OtherNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Email ID<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.EmailId, new { @id = "txtEmailId", @class = "form-control", required = "required", @placeholder = "eg. aaa@gmail.com" })
                                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Firm Name<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.HostClincName, new { @id = "txtHCName", @class = "form-control", required = "required", @placeholder = "Firm Name" })
                                                @Html.ValidationMessageFor(model => model.HostClincName, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Firm No.<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.HospClinicNumber, new { @id = "txtHCNumbar", @class = "form-control", required = "required", @placeholder = "0123456789 or 222222" })
                                                @Html.ValidationMessageFor(model => model.HospClinicNumber, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Firm Add.<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.HospClinicAddess, new { @id = "txtHCAdress", @class = "form-control", required = "required", @placeholder = "Firm Address" })
                                                @Html.ValidationMessageFor(model => model.HospClinicAddess, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Firm Time:1</label>
                                                @Html.TextBoxFor(m => m.FirmInTime, new { @id = "txtFirmInTime", @class = "form-control", @placeholder = "hh:mm - hh:mm" })
                                                @Html.ValidationMessageFor(model => model.FirmInTime, "", new { @class = "text-danger" })




                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Firm Time:2</label>
                                                @Html.TextBoxFor(m => m.FirmOutTime, new { @id = "txtFirmOutTime", @class = "form-control", @placeholder = "hh:mm - hh:mm" })
                                                @Html.ValidationMessageFor(model => model.FirmOutTime, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Holiday</label>
                                                @Html.TextBoxFor(m => m.Holiday, new { @id = "txtHoliday", @class = "form-control", @placeholder = "eg. Sunday" })
                                                @Html.ValidationMessageFor(model => model.Holiday, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Activation For<span class="star">*</span></label>
                                                @Html.DropDownListFor(m => m.ActivationFor, new List<SelectListItem>
                                                     {
                                                         //new SelectListItem{ Text="Select Role", Value = "0" },
                                                         new SelectListItem{ Text="Smart Clinic Manager", Value = "scm" },
                                                         new SelectListItem{ Text="Smart OPD Manager", Value = "som" },
                                                          new SelectListItem{ Text="Smart Lab Manager", Value = "slm" },
                                                           new SelectListItem{ Text="Smart Diagnostic Manager", Value = "sdm" },
                                                           new SelectListItem{ Text="Smart Lab & Diagnostic Manager", Value = "sjdm" },
                                                           new SelectListItem{ Text="Smart OPD & IPD Managerr", Value = "soim" },
                                                      }, new { @class = "form-control mb-4", @id = "ddlRole" })

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Activation Date<span class="star">*</span></label>
                                                <div class="c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day mt10">
                                                    @Html.TextBoxFor(m => m.ActivationDate, new { @id = "txtActivationDate", @type = "text", @class = "form-control c-datepicker-data-input only-date", required = "required", @placeholder = "dd/mm/yyyy" })
                                                    @Html.ValidationMessageFor(model => model.ActivationDate, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Expiry Date<span class="star">*</span></label>
                                                @*<div class="c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day mt10">
                                                    @Html.TextBoxFor(m => m.ExpiryDate, new { @id = "txtExpiryDate", @type = "text", @class = "form-control c-datepicker-data-input only-date", required = "required", @placeholder = "dd/mm/yyyy" })
                                                    @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                                                </div>*@
                                                <div class="c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day mt10">
                                                    @Html.TextBoxFor(m => m.ExpiryDate, new { @id = "txtExpiryDate", @type = "text", @class = "form-control c-datepicker-data-input only-date", @placeholder = "eg. dd/mm/yyyy" })
                                                    @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Upload Photo
                                                </label>
                                                <input type="file" placeholder="Email-Id / Mobile No." class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Status<span class="star">*</span>
                                                </label>
                                                @Html.DropDownListFor(m => m.IsActive, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="Active", Value = "true" },
                                                         new SelectListItem{ Text="De-Active", Value = "false" },

                                                      }, new { @class = "form-control mb-4", @id = "ddlStatus" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    CP Alphanumeric Prefix<span class="star">*</span>
                                                </label>
                                                @Html.TextBoxFor(m => m.AlphanumericPrefix, new { @id = "txtAlphanumericPrefix", @class = "form-control", required = "required", @placeholder = "eg. AA" })
                                                @Html.ValidationMessageFor(model => model.AlphanumericPrefix, "", new { @class = "text-danger" })


                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <a href="~/Home/Apoinment"><input type="button" value="Back" class="btn btn_1 btn-primary"></a>
                                            <input type="submit" value="Save" class="btn btn_2 btn-primary b22">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
    <!-- Page Footer-->

</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
   
    function isNumber(evt) {

        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    var validateEmail = function (elementValue) {
        var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        return emailPattern.test(elementValue);
    }
    $('#txtEmailId').keyup(function () {

        var value = $(this).val();
        var valid = validateEmail(value);
        if (!valid) {
            $(this).css('color', 'red');

        } else {

            $(this).css('color', '#000');

        }
    });
    $("#txtWhatsAppNo").change(function () {
        var MobileNumber = $('#txtWhatsAppNo').val();

        $.ajax({
            type: "POST",
            url: "/AdminDetails/CheckMobile",
            data: '{Input: "' + MobileNumber + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response == "1") {

                    swal("Mobile Number already exists")
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    $("#txtEmailId").change(function () {
        var EmailId = $('#txtEmailId').val();

        $.ajax({
            type: "POST",
            url: "/AdminDetails/CheckMailId",
            data: '{Input: "' + EmailId + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response == "1") {

                    swal("Email Id already exists")
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datefield').datepicker({
            dateFormat: "mm/dd/yy",
        });
    });
</script>
<script>
    $("#txtWhatsAppNumber").val("+91");
    $("#txtOtherNo").val("+91");

    $("#txtDOB").change(function () {

        var birthDate = new Date(document.getElementById("txtDOB").value);
        var now = new Date();
        var age = now.getFullYear() - birthDate.getFullYear();
        $("#txtAge").val(age);
    });
    //$('.b22').click(function () {
    //    swal({
    //        title: "Your Admin Created Successfully.",
    //        //text: "You clicked the button!",
    //        icon: "success",
    //        button: "OK",
    //    });
    //});

</script>


