@model App_Layer.AdminDetails
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table thead {
        background: #ffffff;
        color: #666;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff !important;
    }

    .table tbody {
        background: #ffffff;
    }

    .table tr:hover {
        box-shadow: 2px 4px 10px #fff;
    }
    /*.table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dedede!important;
    }
        .table td {
        border-top: 1px solid #dedede!important;
        vertical-align: middle!important;
    }*/
    .table th {
        padding-top: 15px;
    }

    .table {
        margin-bottom: 0rem;
    }

    .mg-table .table {
        border-bottom: 1px solid #d4d4d4;
    }

    .tbl-view-1 tr th:first-child {
        width: 20%;
    }

    .tbl-view-2 tr th:first-child {
        width: 20%;
    }

    .tbl-view-3 tr th:first-child {
        width: 20%;
    }

    .tbl-view-4 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }

    .tbl-view-5 tr th:first-child {
        width: 20%;
    }


    hr.new1 {
        border-top: 1px solid;
    }
</style>

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Documents</h2>
    </div>
</header>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <!-- Basic Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card" style="padding: 1em;">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-control-label">Select Certificate</label>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div class="i-checks ">
                                            <input id="r1" type="radio" value="option2" name="a" class="radio-template">

                                            <label for="radioCustom2">Referral Letter</label>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="i-checks ">
                                            <input id="r2" type="radio" value="option2" name="a" class="radio-template">
                                            <label for="radioCustom2">Fitness Certificate </label>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="i-checks ">
                                            <input id="r3" type="radio" value="option2" name="a" class="radio-template">
                                            <label for="radioCustom2">Medical Certificate</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row refe-letr" style="display:none;">
                            <div class="col-md-10">
                                <div style="min-width:200px; font-family:'Arial' , sans-serif; font-size:16px; background-color:#FFFFFF; line-height:1.4; color:#4A4A4A; border:1px solid #DFDFDF; overflow:hidden;">
                                    <div class="accordion" id="accordionExample1">
                                        <div class="second-tab">
                                            <div class="card" id="divPrint">
                                                <div class="card-body mg-table">
                                                    <div id="printExamination">

                                                        <table style="margin: 0 auto;width: 90%;" id="Bill">
                                                            <tr>
                                                                <td>
                                                                    @if (@Session["Template"].ToString() == "Yes")
                                                                    {
                                                                        <table style="width: 100%; display: none;" >
                                                                            <tr>
                                                                                <td>
                                                                                    <ul style="list-style:none;padding-left:1px;">

                                                                                        <li><b>@Model.HostClincName</b></li>
                                                                                        <li>
                                                                                            <textarea onselect="return false;"
                                                                                                      readonly="readonly"
                                                                                                      unselectable="on"
                                                                                                      disabled="disabled" cols="50" rows="2" placeholder="@Model.HospClinicAddess" style="background-color:#FFF;border: none;resize: none;overflow: auto;"></textarea>
                                                                                        </li>
                                                                                        <li>+91 @Model.HospClinicNumber</li>
                                                                                        <li>@Model.FirmInTime1</li>
                                                                                        <li>Clinic Holiday :@Model.Holiday</li>
                                                                                    </ul>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                        <table style="float: right;  display: none;">
                                                                            <tr>
                                                                                <td>
                                                                                    <ul style="list-style:none;float:right;">
                                                                                        <li><b>@Model.FirstName </b></li>
                                                                                        <li style="text-align:right"><small>@Model.Education</small></li>
                                                                                        <li style="text-align:right">Reg. No. @Model.RegNumber</li>
                                                                                        <li style="text-align:right">@Model.Speciality</li>
                                                                                    </ul>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                     
                                                                    }
                                                                    else
                                                                    {
                                                                        <br />
                                                                      
                                                                    }
                                                                  
                                                                    <table style="padding: 1em;text-align: center;">
                                                                        <tr>
                                                                            <td style="padding-left: 10em;">
                                                                                <div style="padding: 1em;text-align: center;">
                                                                                    <h5>REFERENCE LETTER</h5>
                                                                                </div>
                                                                            </td>

                                                                            <td style="text-align: right; padding-left: 4em;">
                                                                                Date : &nbsp;&nbsp;   /  &nbsp;&nbsp;   /&nbsp;20
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <br>


                                                                    <table style="width: 100%;padding: 0px 18px;">

                                                                        <tr>
                                                                            <ul style="list-style: none;padding-left: 5px;">

                                                                                <li style="font-weight: 700;">
                                                                                    Referred To-
                                                                                </li>
                                                                                <br>
                                                                                <li>
                                                                                    <input type="text" placeholder="Hospital Address" style="border: none;border-bottom: 1px solid #c3c3c3;width: 65%;"><br>
                                                                                </li>

                                                                                <br>

                                                                                <li>
                                                                                    <input type="text" placeholder="Contact Name" style="border: none;border-bottom: 1px solid #c3c3c3;width: 65%;"><br>
                                                                                </li>
                                                                                <br>

                                                                                <li>
                                                                                    <input type="text" placeholder="Hospital Name" style="border: none;border-bottom: 1px solid #c3c3c3;width: 65%;"><br>
                                                                                </li>
                                                                                <br>

                                                                                <li>
                                                                                    <input type="text" placeholder="Hospital Address" style="border: none;border-bottom: 1px solid #c3c3c3;width: 65%;"><br>
                                                                                </li>


                                                                            </ul>
                                                                        </tr>


                                                                    </table>
                                                                    <br>
                                                                    <table style="width: 100%;padding: 0px 18px;">
                                                                        <tr>

                                                                            <td><span style="font-weight:bold">Dear Sir,</span></td>
                                                                        </tr>

                                                                    </table>
                                                                    <br />
                                                                    <table style="width: 100%;padding: 0px 18px;">
                                                                        <tr>

                                                                            <td>Sending here with</td>
                                                                        </tr>

                                                                    </table>
                                                                    <br />
                                                                    <table style="width: 45%;padding: 0px 18px;border: none;">
                                                                        <tr>
                                                                            <td>
                                                                                Mr/Mrs.
                                                                                @*<select>
                                    <option value="Mr">Mr</option>
                                    <option value="0">Mrs</option>
                                </select>*@

                                                                            </td>
                                                                            <td>
                                                                                <input type="text" placeholder="Patient Name" style="border: none;border-bottom: 1px solid #c3c3c3;width: 245%;"><br>
                                                                            </td>

                                                                        </tr>
                                                                    </table>
                                                                    <br />
                                                                    <table style="width: 100%;padding: 0px 18px;">
                                                                        <tr>

                                                                            <td>Past History<input type="text" style="border: none;border-bottom: 1px solid #c3c3c3;width: 86%;"><br></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="border: none;border-bottom: 1px solid #c3c3c3;width: 86%;"><br></td>
                                                                        </tr>
                                                                    </table>
                                                                    <br />
                                                                    <table style="width: 100%;padding: 0px 18px;">
                                                                        <tr>
                                                                            <td>Refering for<input type="text" style="border: none;border-bottom: 1px solid #c3c3c3;width: 87%;"><br></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="&nbsp;&nbsp;&nbsp;&nbsp;" style="border: none;border-bottom: 1px solid #c3c3c3;width: 86.5%;"><br></td>
                                                                        </tr>
                                                                    </table>
                                                                    <br />
                                                                    <table style="width: 100%;padding: 0px 18px;">
                                                                        <tr>
                                                                            <td>Treatment Received<input type="text" value="&nbsp;&nbsp;&nbsp;&nbsp;" style="border: none;border-bottom: 1px solid #c3c3c3;width: 79%;"><br></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="&nbsp;&nbsp;&nbsp;&nbsp;" style="border: none;border-bottom: 1px solid #c3c3c3;width: 86%;"><br></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="&nbsp;&nbsp;&nbsp;&nbsp;" style="border: none;border-bottom: 1px solid #c3c3c3;width: 86%;"><br></td>
                                                                        </tr>
                                                                    </table>
                                                                    <br />



                                                                    <br><br>

                                                                    <br><br>
                                                                    <table style="float: right;padding-right: 8px;">
                                                                        <tr>
                                                                            <td style="padding-right: 30px;">
                                                                                <ul style="list-style: none;">
                                                                                    <li><small></small></li>
                                                                                    <br />
                                                                                    <li><span style="font-weight:bold">@Model.FirstName</span></li>
                                                                                    <li><span style="font-weight:bold">+91 @Model.HospClinicNumber</span></li>
                                                                                </ul>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <br><br>
                                                                    <br><br>
                                                                    <br><br>
                                                                    <br><br>
                                                                    @if (@Session["Template"].ToString() == "Yes")
                                                                    {
                                                                        <table style="width:100%;border-top: 1px solid #808080;text-align: center;">
                                                                            <tr>
                                                                                <td>
                                                                                    <span style="border-radius:29%; border:solid black 1.5px;padding:5px">  Bring here with all privious reports & prescriptions </span>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                    }
                                                                    else
                                                                    {
                                                                        <br />
                                                                       

                                                                    }




                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                    <br />
                                                    <input type='button' id='btn' value='Print' class="btn btn_1 btn-primary pull-right" onclick="PrintDiv()">

                                                </div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row fitn-cert" style="display:none;">
                            <div class="col-md-6">
                                <div style="min-width:200px; font-family:'Arial' , sans-serif; font-size:16px; background-color:#FFFFFF; line-height:1.4; color:#4A4A4A; border:1px solid #DFDFDF; overflow:hidden;">

                                    <div style="background-color: #f5a433;padding: 1em;text-align: center;">
                                        <h3 style="font-size: 2em;color: #fff;">Fitness Certificate</h3>
                                    </div>
                                    <div class="row">
                                        <!-- Basic Form-->
                                        <div class="col-lg-12">
                                            <div class="card " style="margin-bottom:0;">
                                                <div class="card-body">
                                                    <h2 style="font-size: 1.5em;color: #f5a433;">Create Fitness Certificate</h2>
                                                    <p>This is to certify that i have examined </p>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <select name="account" class="form-control mb-3">
                                                                            <option>Mr.</option>
                                                                            <option>1</option>
                                                                            <option>2</option>
                                                                            <option>3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" id="txtName" name="FirstName" placeholder="Name" required="required" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <form class="form-horizontal form-label-left">
                                                                <fieldset class="custom-border">
                                                                    <legend class="custom-border">Health Condition Selection</legend>
                                                                    <div class="form-group">
                                                                        <ul class="list-inline">
                                                                            <li class="list-inline-item">
                                                                                <p>He</p>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <div class="form-group">
                                                                                    <select name="account" class="form-control mb-3">
                                                                                        <option>is not having</option>
                                                                                        <option>Has</option>
                                                                                    </select>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="list-inline certifi-check">

                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Asthma
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Fits/Convulsions
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Diabetes
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Physical Disability
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Hypertension
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Mental Disability
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Allergy
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Other
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;He has taken all necessary vaccination
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <hr />
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="form-control-label">
                                                                                    Any other major disease<span class="star">*</span>
                                                                                </label>
                                                                                <input type="text" placeholder="Name" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="form-control-label">
                                                                                    I certify that this person is<span class="star">*</span>
                                                                                </label>
                                                                                <select name="account" class="form-control mb-3">
                                                                                    <option>Physically</option>
                                                                                    <option>Physically and Mentally</option>
                                                                                    <option>Physically Mentally and Psychologically</option>
                                                                                    <option>3</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-5">
                                                                            <select name="account" class="form-control mb-3">
                                                                                <option>Fit</option>
                                                                                <option>Unfit</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-md-2 text-center">
                                                                            <p style="margin-top: 0.3em!important;">For</p>
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <select name="account" class="form-control mb-3">
                                                                                <option>Work</option>
                                                                                <option>Duty</option>
                                                                                <option>School</option>
                                                                                <option>College</option>
                                                                                <option>Surgery</option>
                                                                                <option>Other</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <ul class="list-inline certifi-check">
                                                                                <li class="list-inline-item">
                                                                                    <input id="checkboxCustom" type="checkbox" value="" class="checkbox-template"> &nbsp;Include patient signature
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-center">
                                                                        <input type="button" value="Print Preview" class="btn btn_1 btn-primary b22">
                                                                        <input type="button" value="Print" onclick='PrintDiv("tblPrint")' class="btn btn_2 btn-primary">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row medicl-cert" style="display:none;">
                            <div class="col-md-10">
                                <div style="min-width:200px; font-family:'Arial' , sans-serif; font-size:16px; background-color:#FFFFFF; line-height:1.4; color:#4A4A4A; border:1px solid #DFDFDF; overflow:hidden;">
                                    <div class="accordion" id="accordionExample1">
                                        <div class="second-tab">
                                            <div class="card" id="divPrint">
                                                <div class="card-body mg-table">
                                                    <div id="DivMedicalCertificate1">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                @*@if (@Session["Template"].ToString() == "Yes")
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <ul style="list-style:none;" class="nav nav-pills mb-3">

                                                                                    <li class="nav-item"><b>@Model.HostClincName</b></li>
                                                                                    <li class="nav-item">
                                                                                        <textarea onselect="return false;"
                                                                                                  readonly="readonly"
                                                                                                  unselectable="on"
                                                                                                  disabled="disabled" cols="40" rows="2" placeholder="@Model.HospClinicAddess" style="background-color:#FFF;border: none;resize: none;overflow: auto;"></textarea>
                                                                                    </li>
                                                                                    <li class="nav-item">+91 @Model.HospClinicNumber</li>
                                                                                    <li class="nav-item">@Model.FirmInTime1</li>
                                                                                    <li class="nav-item">Clinic Holiday :@Model.Holiday</li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <ul style="list-style:none;float:right;">
                                                                                    <li><b>@Model.FirstName</b></li>
                                                                                    <li>@Model.Education</li>
                                                                                    <li>Reg. No. @Model.RegNumber</li>
                                                                                    <li>@Model.Speciality</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <br />

                                                                    }*@
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group center-block">
                                                                            <div style="text-align: center;">
                                                                                <label class="form-control-label"><h5><u>MEDICAL CERTIFICATE</u></h5></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group center-block">
                                                                            <div style="text-align: center;">
                                                                                <label class="form-control-label"><h5>TO WHOMSOEVER IT MAY CONCERN</h5></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label">This is to certify that</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <select id="ddlmis" class="form-control mb-3">
                                                                                <option value="Mr.">Mr.</option>
                                                                                <option value="Mis.">Mis.</option>
                                                                                <option value="Mrs.">Mrs.</option>
                                                                                <option value="Master.">Master.</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <input id="txtName1" type="text" placeholder="Patient Name" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label">has been under my treatment for</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <input id="txtTreatmentName" type="text" placeholder="Treatment Name" class="form-control">

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                            <select id="ddlFromDate" class="form-control mb-3">
                                                                                <option value="From">From</option>
                                                                                <option value="On">On</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                                                <input id="txtFromDate" type="text" placeholder="Start Date" class="form-control">
                                                                                <div class="input-group-addon">
                                                                                    <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                                                <input type="text" id="txtToDate" placeholder="End Date" class="form-control">
                                                                                <div class="input-group-addon">
                                                                                    <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label">He/She is advised complete rest</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                            <select id="ddlOn" class="form-control mb-3">
                                                                                <option value="From">From</option>
                                                                                <option value="On">On</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                                                <input id="txtOnFromDate" type="text" placeholder="Start Date" class="form-control">
                                                                                <div class="input-group-addon">
                                                                                    <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                                                <input id="txtOnToDate" type="text" placeholder="End Date" class="form-control">
                                                                                <div class="input-group-addon">
                                                                                    <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label">
                                                                                which was absolutely essential for the
                                                                                restoration of his health.
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">

                                                                            <label class="form-control-label"></label>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">

                                                                            <label class="form-control-label"></label>

                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <br />

                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">

                                                                            <input type="checkbox" id="ChkResume" name="vehicle1" class="checkbox-template" value="Bike">
                                                                            <label class="form-control-label">He/She is fit to resume </label>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                            <select id="ddlResumeType" class="form-control mb-3">
                                                                                <option value="Wrok">Wrok</option>
                                                                                <option value="Duty">Duty</option>
                                                                                <option value="College">College</option>
                                                                                <option value="School">School</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label"></label>
                                                                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                                                <input id="txtResumeFromDate" type="text" placeholder="Resume Date" class="form-control">
                                                                                <div class="input-group-addon">
                                                                                    <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <br />
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">

                                                                            <input type="checkbox" id="Chkthumb" class="checkbox-template" name="vehicle1" value="Bike">
                                                                            <label class="form-control-label">Inlude patients signature/thum________ </label>



                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">

                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">

                                                                        </div>
                                                                    </div>

                                                                </div>


                                                                <br><br>
                                                                <br><br>
                                                                @if (@Session["Template"].ToString() == "Yes")
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    <br />
                                                                    <br />

                                                                }




                                                                @*</td>
                                                                        </tr>

                                                                    </table>*@
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div id="DivMedicalCertificate">


                                                        <table style="margin: 0 auto;width: 90%;" id="Bill">
                                                            <tr>
                                                                <td>
                                                                    @if (@Session["Template"].ToString() == "Yes")
                                                                    {
                                                                        <table style="width: 100%; display: inline;">
                                                                            <tr>
                                                                                <td>
                                                                                    <ul style="list-style:none;padding-left:1px;">

                                                                                        <li><b>@Model.HostClincName</b></li>
                                                                                        <li>
                                                                                            <textarea onselect="return false;"
                                                                                                      readonly="readonly"
                                                                                                      unselectable="on"
                                                                                                      disabled="disabled" cols="50" rows="2" placeholder="@Model.HospClinicAddess" style="background-color:#FFF;border: none;resize: none;overflow: auto;"></textarea>
                                                                                        </li>
                                                                                        <li>+91 @Model.HospClinicNumber</li>
                                                                                        <li>@Model.FirmInTime1</li>
                                                                                        <li>Clinic Holiday :@Model.Holiday</li>
                                                                                    </ul>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                        <table style="float: right;">
                                                                            <tr>
                                                                                <td>
                                                                                    <ul style="list-style:none;float:right;">
                                                                                        <li><b>@Model.FirstName </b></li>
                                                                                        <li style="text-align:right"><small>@Model.Education</small></li>
                                                                                        <li style="text-align:right">Reg. No. @Model.RegNumber</li>
                                                                                        <li style="text-align:right">@Model.Speciality</li>
                                                                                    </ul>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                        @*<table style="float: right;margin-bottom: -1rem">
                                                                                <tr>
                                                                                    <td>
                                                                                        <ul style="list-style:none;float:right;">
                                                                                            <li ><b>@Model.FirstName</b></li>
                                                                                            <li>@Model.Education</li>
                                                                                            <li>Reg. No. @Model.RegNumber</li>
                                                                                            <li>@Model.Speciality</li>
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>*@
                                                                        <hr />
                                                                    }
                                                                    else
                                                                    {
                                                                        <br />

                                                                    }

                                                                    <br />
                                                                    <table style="width: 100%;">
                                                                        <tr>
                                                                            <td>
                                                                                <div style="padding: 0em;text-align: center;">
                                                                                    <div style="padding: 0em;text-align: center;font-size: 1.1rem;">
                                                                                        <h6><u>MEDICAL CERTIFICATE</u></h6>
                                                                                    </div>
                                                                                    <div style="padding: 0em;text-align: center;font-size: 1.1rem;">
                                                                                        <h6>TO WHOMSOEVER IT MAY CONCERN</h6>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>

                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label id="lblline1" type="text" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label class="form-control-label"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label id="lblline2" type="text" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label class="form-control-label"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label id="lblline3" type="text" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label class="form-control-label"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label id="lblline4" type="text" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label class="form-control-label"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label id="lblline5" type="text" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label id="lblline6" type="text" />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <br />
                                                                    <br />
                                                                    <br />
                                                                    <br />
                                                                    <br />

                                                                    <table style="float: right;">
                                                                        <tr>
                                                                            <td>
                                                                                <ul style="list-style:none;float:right;">
                                                                                    <li><b>@Model.FirstName</b></li>
                                                                                    <li>@Model.Education</li>
                                                                                    <li>Reg. No. @Model.RegNumber</li>
                                                                                </ul>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    @if (@Session["Template"].ToString() == "Yes")
                                                                    {
                                                                        <table>
                                                                            <tr>
                                                                                <td></td>

                                                                            </tr>
                                                                        </table>
                                                                    }
                                                                    else
                                                                    {
                                                                        <br />
                                                                        <br />

                                                                    }




                                                                </td>

                                                            </tr>

                                                        </table>




                                                    </div>
                                                    <br />
                                                    <input type='button' id='btn' value='Print' class="btn btn_1 btn-primary pull-right" onclick="PrintDivMedicalCertificate()">

                                                </div>
                                                <br />
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="modal fade" id="ComfirmationPopup" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div id="Bill">
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>

    $('#r1').click(function () {
        $('.refe-letr').css("display", "block");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "none");
    });
    $('#r2').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "block");
        $('.medicl-cert').css("display", "none");
    });
    $('#r3').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "block");
    });



    function PrintDiv() {



        var Bill = document.getElementById("printExamination").innerHTML;
        var printWindow = window.open('', '', 'height=500,width=900');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body>');
        printWindow.document.write(Bill);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();

    }

    // Medical Certificate Page
    function PrintDivMedicalCertificate() {
        var ddlmis = document.getElementById("ddlmis").value;
        var strName = $("#txtName1").val();
        var TreatmentName = $("#txtTreatmentName").val();
        var FromDate = document.getElementById("txtFromDate").value;
        var ToDate = document.getElementById("txtToDate").value;
        var FromDateddl = document.getElementById("ddlFromDate").value;
        var Line1 = 'This is to certify that ' + ddlmis + ' ' + strName + ' has been under my treatment for ' + TreatmentName + ' ' + FromDateddl + ' ' + FromDate + ' to ' + ToDate + '.';
        $('#lblline1').text(Line1);

        var Resume = "";
        var Complete = "";
        if (ddlmis == "Mr." || ddlmis == "Master.") {
            Complete = 'He is advised complete rest';
            Resume = 'He ';
        }
        else {
            Complete = 'She was advised complete rest';
            Resume = 'She ';

        }
        var On = document.getElementById("ddlOn").value;
        var OnFromDate = document.getElementById("txtOnFromDate").value;
        var OnToDate = document.getElementById("txtOnToDate").value;
        var Line2 = Complete + ' ' + ' ' + On + ' ' + ' ' + OnFromDate + ' to ' + OnToDate + ' which was absolutely essential for the restoration of his health.';
        $('#lblline2').text(Line2);

        var ResumeFromDate = document.getElementById("txtResumeFromDate").value;
        var ResumeType = document.getElementById("ddlResumeType").value;
        if (ChkResume.checked) {
            var lblline3 = Resume + 'is ﬁt to resume Work from ' + ResumeFromDate;
            $('#lblline3').text(lblline3);
        }
        if (Chkthumb.checked) {
            var lblline4 = 'Patient signature/thumb impression' + '_____________________';
            $('#lblline4').text(lblline4);
        }
        var lblline5 = 'Place:';
        $('#lblline5').text(lblline5);

        var lblline6 = 'Date :';
        $('#lblline6').text(lblline6);
        var Bill = document.getElementById("DivMedicalCertificate").innerHTML;
        var printWindow = window.open('', '', 'height=500,width=900');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body>');
        printWindow.document.write(Bill);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }


</script>

