
@model App_Layer.MedicineDetails
@{
    ViewBag.Title = "MedicineDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Add Medicine</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <!-- <div class="breadcrumb-holder container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Forms</li>
      </ul>
    </div> -->
    <!-- Forms Section-->

    @using (Html.BeginForm("ManageMedicineDetails", "MedicineDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.MedicineId);
        @Html.HiddenFor(m => m.HospitalId);
        int @id = 0;
        int @no = 0;
        <section class="forms">

            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="file" id="importFile" name="importFile" placeholder="" class="form-control">

                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <input type="button" value="Import" class="btn btn_1 btn-primary" id="btnUpload" style="background-color:darkgray" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <!-- Basic Form-->
                    <div class="col-lg-12">
                        <div class="card">
                            <!-- <div class="card-close">
                              <div class="dropdown">
                                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                              </div>
                            </div> -->
                            <!-- <div class="card-header d-flex align-items-center">
                              <h3 class="h4">Basic Form</h3>
                            </div> -->

                            <div class="card-body">
                                <p>Need to fill mandatory fields.</p>

                                <br /><br />
                                <form>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Medicine name<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.MedicineName, new { @id = "txtMedicineName", @onchange = "ChangeText(this)", @class = "form-control", required = "required", @placeholder = "Precription Name" })
                                                @Html.ValidationMessageFor(model => model.MedicineName, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Type<span class="star">*</span></label>
                                                @Html.DropDownListFor(m => m.MedicineType, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="Select Medicine Type", Value = "0" },
                                                         new SelectListItem{ Text="TABLET", Value = "TABLET" },
                                                          new SelectListItem{ Text="CAPSULE", Value = "CAPSULE" },
                                                           new SelectListItem{ Text="SYRUP", Value = "SYRUP" },
                                                           new SelectListItem{ Text="LIQUID", Value = "LIQUID" },
                                                           new SelectListItem{ Text="INJECTION", Value = "INJECTION" },
                                                           new SelectListItem{ Text="CREAM", Value = "CREAM" },
                                                           new SelectListItem{ Text="LOTION", Value = "LOTION" },
                                                           new SelectListItem{ Text="OINTMENT", Value = "OINTMENT" },
                                                           new SelectListItem{ Text="GEL", Value = "GEL" },
                                                           new SelectListItem{ Text="DROPS", Value = "DROPS" },
                                                           new SelectListItem{ Text="SPRAY", Value = "SPRAY" },
                                                            new SelectListItem{ Text="POWDER", Value = "POWDER" },
                                                             new SelectListItem{ Text="OTHER", Value = "OTHER" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlMedicineType" })




                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Generic Name</label>
                                                @Html.TextBoxFor(m => m.GenericName, new { @id = "txtGenericName", @class = "form-control", @placeholder = "Generic Name" })
                                                @Html.ValidationMessageFor(model => model.GenericName, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Company Name</label>
                                                @Html.TextBoxFor(m => m.CompanyName, new { @id = "txtCompanyName", @class = "form-control", @placeholder = "Company Name" })
                                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Range</label>
                                                @Html.TextBoxFor(m => m.Range, new { @id = "txtRange", @class = "form-control", @placeholder = "Range" })
                                                @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        @*<div class="col-md-4" >
                                                <div class="form-group">
                                                    <label class="form-control-label">Remark</label>
                                                    @Html.TextBoxFor(m => m.Other, new { @id = "txtOther", @class = "form-control", @placeholder = "Remark" })
                                                    @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })


                                                </div>
                                            </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <a href="~/PatientDetails/GetQueueList"><input type="button" value="Back" class="btn btn_1 btn-primary"></a>
                                            <input type="submit" value="Save" id="btnSubmit" class="btn btn_2 b33 btn-primary">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="tables">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="">
                                    <table id="example3" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <td>Sr.No.</td>
                                                <th>Medicine Name</th>
                                                <th>Type</th>
                                                <th>Generic Name</th>
                                                <th>Company Name</th>
                                                <th>Range</th>
                                                @*<th>Other</th>*@
                                                <th hidden>MedicineId</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.lst)
                                            {
                                                id = id + 1;    
                                                <tr>

                                                    <td>@id</td>
                                                    <td>@item.MedicineName</td>
                                                    <td>@item.MedicineType</td>
                                                    <td>@item.GenericName</td>
                                                    <td>@item.CompanyName</td>
                                                    <td>@item.Range</td>
                                                    @*<td>@item.Other</td>*@
                                                    <td hidden>@item.MedicineId</td>
                                                    <td>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item" title="Edit">
                                                                <a href="@Url.Content("~/MedicineDetails/GetMedicineById?Id="+item.MedicineId+ "&hId=" + item.HospitalId + "")"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                            </li>

                                                            <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                <a href="@Url.Content("~/MedicineDetails/DeleteMedicine?Id="+item.MedicineId+"")">   <i class="fa fa-times" aria-hidden="true"></i></a>
                                                            </li>
                                                        </ul>
                                                    </td>

                                                </tr>

                                            }


                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Sr.No.</td>
                                                <th>Medicine Name</th>
                                                <th>Type</th>
                                                <th>Generic Name</th>
                                                <th>Company Name</th>
                                                <th>Range</th>
                                                @*<th>Other</th>*@
                                                <th hidden>MedicineId</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
            </div>
        </section>

    }
    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6">
                  <p>Your company &copy; 2017-2020</p>
                </div> -->
                <div class="col-sm-12 footer-img text-right">
                    <p><span class="small">Powered by</span> <img src="img/Powered By company logo.png" class="img-responsive"></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>
@*<div class="modal fade" id="ComfirmationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Do you want to Delete Admin?</h1>
                </div>
                <div class="modal-footer" style="border-top:none;">

                    <button type="button" class="btn btn_2 btn-primary">Yes</button>
                    <button type="button" class="btn btn_1 btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>*@


<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $('.button').click(function () {
            if ($('#txtMedicineName').val() == "") { }
            else if ($('#txtMedicineType').val() == "") { }
            else if ($('#txtGenericName').val() == "") { }
            else if ($('#txtCompanyName').val() == "") { }
            else if ($('#txtRange').val() == "") { }
            else {
                swal({
                    title: "Medicine added successfully.",
                    //text: "You clicked the button!",
                    icon: "success",
                    button: "OK",
                }
               )
            };
        });
    });
    $(document).on("click", "#btnUpload", function () {
        var files = $("#importFile").get(0).files;

        var formData = new FormData();
        formData.append('importFile', files[0]);

        $.ajax({
            url: '/MedicineDetails/Import',
            data: formData,
            type: 'POST',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.Status === 1) {
                    alert(data.Message);
                } else {
                    alert("Failed to Import");
                }
            }
        });
    });

    //    $('.fa.fa-times').click(function () {
    //        swal({
    //            title: "Do you want to delete admin?",
    //            //text: "Once deleted, you will not be able to recover this imaginary file!",
    //            icon: "warning",
    //            //dangerMode: true,
    //            buttons: true,
    //            confirmButtonText: 'YES',
    //            cancelButtonText: "NO",

    //        })
    //.then((willDelete) => {
    //    if (willDelete) {
    //        swal("Your are deleted admin successfully.", {
    //            icon: "success",
    //        });
    //    }
    //    else {

    //        swal("Your admin is safe", {
    //            icon: "success",

    //        });9
    //    }
    //});
    //    });
    $(document).ready(function () {
        $('#example3').DataTable();
    });

    function ChangeText(x) {
        $(function () {
            debugger;
            $('#txtMedicineName').autocomplete({

                source: function (request, response) {
                    $.ajax({
                        url: "/MedicineDetails/GetMedicineName",
                        data: "{'str' : '" + request.term + "'}",
                        dataType: "json",
                        type: 'POST',
                        contentType: "application/json; charset-utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        }
                    });
                },
                minlength: 1
            });
        });
    };




</script>
