@model App_Layer.Dashbord
@{
    ViewBag.Title = "Dashbord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sub-heading table tr {
        box-shadow: none !important;
    }

        .sub-heading table tr th {
            border-top: none !important;
            border-bottom: none !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }

    textarea {
        border-color: #e8e8e8;
        background: #e8e8e8;
    }

    .table-responsive {
        overflow-y: scroll;
        height: auto !important;
    }

    #bar-ticks .tick p {
        left: -1em !important;
        margin: 0 0 0 0.5em;
        position: absolute;
        top: -0.8em;
    }

    #bar-graph thead tr {
        bottom: auto;
        right: 0;
        top: -15px !important;
    }

    #bar-graph tbody .before {
        border-color: transparent;
        left: 20px;
        background: #f5a333;
    }

    #bar-graph tbody .after {
        background-color: #25a1a1 !important;
        border-color: transparent;
        left: 75px;
    }

    #bar-graph td:hover {
        background-color: #e89523 !important;
        color: white;
    }

    #bar-graph thead th.before {
        line-height: 2;
        right: 140px !important;
    }

    #bar-graph thead th {
        height: auto;
        font-weight: 400;
        padding: 0;
        width: 100% !important;
    }

        #bar-graph thead th.before:after {
            content: '';
            height: 10px;
            left: 28px !important;
            position: absolute;
            top: 8px !important;
            width: 10px;
            background: #f5a333 !important;
        }

        #bar-graph thead th.after:after {
            content: '';
            height: 10px;
            left: 13px !important;
            position: absolute;
            top: 8px !important;
            width: 10px;
            background: #25a1a1 !important;
        }

    #bar-graph .bar {
        border-bottom: none;
        border: 1px solid;
        color: #000;
        width: 22px;
    }

    #bar-graph tbody .after {
        background-color: #25a1a1 !important;
        border-color: transparent;
        left: 42px;
    }

    .dashboard-border {
        border: 1px solid #b1d7ec;
        border-radius: 10px;
    }

        .dashboard-border ul:first-child {
            background: #eef5f9;
            padding: 1em;
            overflow: hidden;
            z-index: 000000;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            margin-bottom: 0;
        }

    .dash-patient-bg {
        background: #f9f9f9;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 1em;
    }

    .dash-card .col-md-4 {
        margin-top: 1em;
    }

    #bar-ticks .tick {
        border-bottom: 1px solid #E7E7E7;
        height: 59px;
        position: relative;
        width: 435px !important;
    }

    #bar-graph thead tr {
        bottom: auto;
        right: 105px !important;
        top: -15px !important;
    }

    #bar-graph th {
        width: 82px !important;
    }

    .table-responsive {
        overflow: auto !important;
    }
</style>

<div>
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Dashboard</h2>
        </div>
    </header>
</div>
<div class="">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control">
                        <option value="true">Select</option>
                        <option value="true">Weekly</option>
                        <option value="false">Monthly</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row" style="width: 100%;margin: 0 auto;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="title" style="margin-bottom: 2em;">Visit Analysis</h2>
                <br />
                <table id="bar-graph">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="before">Total Visits</th>
                            <th class="after">New Patients</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="section-1">
                            <th scope="row">Jan</th>
                            <td class="before bar"><p>4.7s</p></td>
                            <td class="after bar"><p>1.1s</p></td>
                        </tr>
                        <tr id="section-2">
                            <th scope="row">Feb</th>
                            <td class="before bar"><p>3.1s</p></td>
                            <td class="after bar"><p>1.5s</p></td>
                        </tr>
                        <tr id="section-3">
                            <th scope="row">Mar</th>
                            <td class="before bar"><p>4.8s</p></td>
                            <td class="after bar"><p>1.4s</p></td>
                        </tr>
                        <tr id="section-4">
                            <th scope="row">Apr</th>
                            <td class="before bar"><p>4.8s</p></td>
                            <td class="after bar"><p>1.4s</p></td>
                        </tr>
                        <tr id="section-5">
                            <th scope="row">Apr</th>
                            <td class="before bar"><p>4.8s</p></td>
                            <td class="after bar"><p>1.4s</p></td>
                        </tr>
                        <tr id="section-6">
                            <th scope="row">Apr</th>
                            <td class="before bar"><p>4.8s</p></td>
                            <td class="after bar"><p>1.4s</p></td>
                        </tr>
                    </tbody>
                </table>
                <div id="bar-ticks">
                    <div class="tick"><p>5.0s</p></div>
                    <div class="tick"><p>4.0s</p></div>
                    <div class="tick"><p>3.0s</p></div>
                    <div class="tick"><p>2.0s</p></div>
                    <div class="tick"><p>1.0s</p></div>
                    <div class="tick"><p>0.0s</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="title" style="margin-bottom: 2em;">Income-Expenses Analysis</h2>
                <br />
                <table id="bar-graph">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="before">Income</th>
                            <th class="after">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="section-1">
                            <th scope="row">Jan</th>
                            <td class="before bar"><p>4.7s</p></td>
                            <td class="after bar"><p>1.1s</p></td>
                        </tr>
                        <tr id="section-2">
                            <th scope="row">Feb</th>
                            <td class="before bar"><p>3.1s</p></td>
                            <td class="after bar"><p>1.5s</p></td>
                        </tr>
                        <tr id="section-3">
                            <th scope="row">Mar</th>
                            <td class="before bar"><p>4.8s</p></td>
                            <td class="after bar"><p>1.4s</p></td>
                        </tr>
                        <tr id="section-4">
                            <th scope="row">Apr</th>
                            <td class="before bar"><p>4.8s</p></td>
                            <td class="after bar"><p>1.4s</p></td>
                        </tr>
                        <tr id="section-5">
                            <th scope="row">Apr</th>
                            <td class="before bar"><p>4.8s</p></td>
                            <td class="after bar"><p>1.4s</p></td>
                        </tr>
                        <tr id="section-6">
                            <th scope="row">Apr</th>
                            <td class="before bar"><p>4.8s</p></td>
                            <td class="after bar"><p>1.4s</p></td>
                        </tr>
                    </tbody>
                </table>
                <div id="bar-ticks">
                    <div class="tick"><p>5.0s</p></div>
                    <div class="tick"><p>4.0s</p></div>
                    <div class="tick"><p>3.0s</p></div>
                    <div class="tick"><p>2.0s</p></div>
                    <div class="tick"><p>1.0s</p></div>
                    <div class="tick"><p>0.0s</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Appointment</h3>
                <div class="table-responsive">
                    @*<div class="grid-btn pull-right">
                            <a> <input type="Date" class="form-control text-letter" placeholder="dd/mm/yyyy"></a>
                        </div>
                        <br /><br />*@
                    <table id="examples" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>CP No.</th>
                                <th>Patient Details</th>
                                <th>Mobile No.</th>
                                <th>Apt. Date</th>
                                <th>Timing</th>
                                <th>Doctor</th>
                                <td hidden>Queue Id</td>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Qlst)
                            {
                                <tr id=@item.Id>
                                    <td>@item.rowNum</td>
                                    <td>@item.CasePaperNo</td>
                                    <td>@item.PatientName<br />@item.Age / @item.Gender</td>
                                    <td>@item.WhatsAppNo<br />@item.OtherNo</td>
                                    <td>@item.DateTime</td>
                                    <td>@item.AppoinmentTime</td>
                                    <td>@item.FirstName</td>
                                    <td hidden>@item.Id</td>
                                    <td>
                                        <ul class="list-inline">
                                            @*<li class="list-inline-item" title="Edit">
                                                    <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </li>*@
                                            <li class="list-inline-item" data-toggle="modal" data-target="#whatsappModal" title="Cancle">
                                                <a href="#" data-toggle="modal" data-target="#DeleteAppoinment" onclick="ShowDeleteAppoinment(this)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Patient Feedback</h3>

                <div class="row dash-card" style="overflow: scroll; height: 51vh;">
                    @foreach (var item in Model.Fedlst)
                    {
                    <div class="col-md-4">
                        <div class="dashboard-border" style="font-size: 0.9em;">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <b>Date</b> : @item.Date
                                </li>
                                <li class="list-inline-item pull-right">
                                    <b>CP No.</b> : @item.CPNo
</li>
                            </ul>
                            <div class="dash-patient-bg">
                                <h4>@item.PatientName</h4>
                                <ul class="list-unstyled">
                                    <li><b>Overall Experience </b>:@item.Experience</li>
                                    <li><b>Clinic Cleanliness </b>:@item.Cleanliness</li>
                                    <li><b>Staff Behavior </b>:@item.BadBehevior</li>
                                    <li><b>Doctor Qualities </b>:@item.MedicalExpertise @item.ListenGiveTime <br />@item.Compassionate @item.BadBehevior</li>
                                </ul>
                                <textarea placeholder="@item.Feedback" style="width:100%;"></textarea>
                            </div>

                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteAppoinment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content save-appoint">
            <div class="modal-header" style="border-bottom:none;">
                <h3>Cancel Appinment</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12 space-betw">
                        <div class="form-group">
                            <label style="display:none" class="form-control-label">Remark<span class="star">*</span></label>
                            <input type="text" value="Cancled" style="display:none" id="txtNote" class="form-control" placeholder="Note" />
                            <input type="text" style="display:none" id="txtQueueId" class="form-control" placeholder="" />
                            <input type="text" style="display:none" id="txtCP" class="form-control" placeholder="" />
                            <input type="text" style="display:none" id="txtNo" class="form-control" placeholder="" />
                        </div>
                    </div>


                </div>
                <div class="modal-footer" style="border-top:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" onclick="DeleteAppoinment(this)" class="btn btn_1 btn-primary" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#examples').DataTable();
</script>
<script>
    function ShowDeleteAppoinment(x) {
        var obj = $(x).parents("tr")
        $("#txtQueueId").val(obj.find('td')[7].innerHTML);
        $("#txtCP").val(obj.find('td')[1].innerHTML);
        var mob = obj.find('td')[3].innerHTML;
        $("#txtNo").val(mob.substr(0, 10));
    };

    function DeleteAppoinment(x) {
        var QueueId = document.getElementById("txtQueueId").value;
        var Note = document.getElementById("txtNote").value;
        var CPno = document.getElementById("txtCP").value;
        var MbNo = document.getElementById("txtNo").value;

        var form = $('#frmObservationDetails')[0];

        var fromData = new FormData(form);
        var urllink = '@Url.Content("~/DashBordDetails/DeleteAppoinment")'
        $.ajax({
            type: "post",
            url: urllink,
            dataType: 'application/json',
            data: {

                'Id': QueueId, 'Note': Note, 'CPno': CPno, 'MbNo': MbNo
            }
        });
        $("#" + QueueId).remove();
        alert("Deleted Successfully");
    }
</script>

