@model List<App_Layer.PatientDetails>
@{
    ViewBag.Title = "AllPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div >
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">My Patient</h2>
        </div>
    </header>
    
    <section>
        <div class="container-fluid">
            <div class="row reg-counter">
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="card animated fadeInUp delay-01s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Total Patient <br />Count</h6>
                                    <div class="count text-primary fs-20">@Session["TotalPatientCount"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="card animated fadeInUp delay-02s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-wheelchair" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">New Patient<br /> Count</h6>
                                    <div class="count text-primary fs-20">@Session["TodaysNewPatientCount"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col col-12 col-md-6 col-xl-3">
                    <div class="card animated fadeInUp delay-03s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Operations<br /> Count</h6>
                                    <div class="count text-primary fs-20">24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="card animated fadeInUp delay-04s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Hospital<br /> Earning</h6>
                                    <div class="count text-primary fs-20">$5238</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <section class="tables">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive style-2">
                                <div class="grid-btn pull-right">
                                    <a href="~/PatientDetails/PatientDetails">   <input type="button" value="Add New Patient" style="margin-left: 1em;border-radius: 22px;" class="btn btn_2 btn-primary"></a>
                                </div>
                                <table id="example1" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th hidden>Id</th>
                                            <th>CP No.</th>
                                            <th>Patient</th>
                                            <th>Contact</th>
                                            <th>CP Expiry</th>
                                            <th>Due Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td hidden>@item.Id</td>
                                            <td>@item.CasePapaerNo</td>
                                            <td>@item.PatientName<br />@item.Age / @item.Gender</td>
                                            <td>@item.WhatsAppNo<br />@item.OtherNo</td>
                                            <td>@item.CpExpiryDate</td>
                                            <td>@item.DueAmount</td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item" title="Appointment">
                                                        @*<a href="@Url.Content("~/PatientDetails/SetPatientAppoinment?CPno="+item.CasePapaerNo+"")">  <i class="fa fa-calendar" aria-hidden="true"></i></a>*@
                                                        <a href="#" data-toggle="modal" data-target="#saveAppointment" onclick="showModel(this)" ><i class="fa fa-calendar" aria-hidden="true"></i></a>
                                                    </li>

                                                    <li class="list-inline-item" title="Edit" >
                                                        <a href="@Url.Content("~/PatientDetails/GetDetailsById?Id="+item.Id+"")">   <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal"></i></a>
                                                    </li>
                                                    @*<li class="list-inline-item whtap" data-toggle="modal" data-target="#whatsappModal" title="Whatsapp">
                                                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                    </li>*@
                                                    <li class="list-inline-item msg" title="Message">
                                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    </li>
                                                    <li class="list-inline-item" title="Clear Due">
                                                        @*<a href="@Url.Content("~/PatientDetails/SetPatientAppoinment?CPno="+item.CasePapaerNo+"")">  <i class="fa fa-calendar" aria-hidden="true"></i></a>*@
                                                        <a href="#" data-toggle="modal" data-target="#saveClearDue" onclick="ClearDue(this)"><i class="fa fa-credit-card" aria-hidden="true"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        }
                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th hidden>Id</th>
                                            <th>CP No.</th>
                                            <th>Patient</th>
                                            <th>Contact</th>
                                            <th>CP Expiry</th>
                                            <th>Due Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a href="~/PatientDetails/GetQueueList"><input type="button" value="Back" class="btn btn_1 btn-primary"></a>
                                    @*<a href="#"><input type="button" value="Export to Excel" class="btn btn_2 btn-primary"></a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6">
                    <p>Your company &copy; 2017-2020</p>
                  </div> -->
                <div class="col-sm-12 footer-img text-right">
                    <p><span class="small">Powered by</span> <img src="img/Powered By company logo.png" class="img-responsive"></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header" style="border-bottom:none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Do you want to get an Appointment?</h1>
            </div>
            <div class="modal-footer" style="border-top:none;">

                <button type="button" class="btn btn_2 btn-primary">Yes</button>
                <button type="button" class="btn btn_1 btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saveAppointment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content save-appoint">
            <div class="modal-header" style="border-bottom:none;">
                <h3>Get Appointment</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 space-betw">
                        <div class="form-group">
                            <label class="form-control-label">Date<span class="star">*</span></label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" id="txtDate" class="form-control datepicker" placeholder="dd/mm/yyyy" />
                                <div class="input-group-addon">
                                    <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 space-betw">
                        <label class="form-control-label">Time</label>
                        <div class="input-group clockpicker pull-center" data-autoclose="true">
                            <input type="text" id="txtTime"class="form-control" placeholder="00:00" />
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o page-date-icon" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 space-betw">
                        <label class="form-control-label">Note</label>
                        <input type="text" id="txtNote" class="form-control" placeholder="Note" />
                        <input style="display:none" type="text" id="txtCPno" class="form-control" placeholder="Note" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top:none;">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button"  onclick="SetApoinment()" class="btn btn_1 btn-primary" data-dismiss="modal">Save Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="saveClearDue" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content save-appoint">
            <div class="modal-header" style="border-bottom:none;">
                <h3>Get Appointment</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 space-betw">
                        <div class="form-group">
                            <label class="form-control-label">Due<span class="star">*</span></label>
                            <input type="text" id="txtTotalDue" class="form-control" placeholder="Note" />
                        </div>
                    </div>
                    <div class="col-md-12 space-betw">
                        <div class="form-group">
                            <label class="form-control-label">Paid Amount<span class="star">*</span></label>
                            <input type="text" id="txtPaidAmount" class="form-control" placeholder="Note" />
                            <input style="display:none" type="text" id="txtCPno" class="form-control" placeholder="Note" />
                        </div>
                    </div>
                   
              
            </div>
            <div class="modal-footer" style="border-top:none;">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" onclick="SetDueAmount()" class="btn btn_1 btn-primary" data-dismiss="modal">Save Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mypatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header" style="border-bottom:none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Patients habit</h1>
                <table class="table habit-grid">
                    <tbody>
                        <tr>
                            <td>
                                <div class="i-checks">
                                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                </div>
                            </td>
                            <td class="text-left">Smoking</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="i-checks">
                                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                </div>
                            </td>
                            <td class="text-left">Drinking</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="i-checks">
                                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                </div>
                            </td>
                            <td class="text-left">Blood Pressure</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="i-checks">
                                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                </div>
                            </td>
                            <td class="text-left">Sugar</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="i-checks">
                                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                </div>
                            </td>
                            <td class="text-left">Blindness</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="border-top:none;">

                <button type="button" class="btn btn_2 btn-primary">Save</button>
                <button type="button" class="btn btn_1 btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function showModel(x) {
        var obj = $(x).parents("tr")
        $("#txtCPno").val(obj.find('td')[1].innerHTML);
       
    }
    function SetApoinment() {
        var CPno = $(this).attr("data-image");
        var appCPno = document.getElementById("txtCPno").value;
        var appDate = document.getElementById("txtDate").value;
        var appTime = document.getElementById("txtTime").value;
        var appNote = document.getElementById("txtNote").value;

        var form = $('#frmObservationDetails')[0];

        var fromData = new FormData(form);
        var urllink = '@Url.Content("~/PatientDetails/SetPatientAppoinment")'
        $.ajax({
            type: "post",
            url: urllink,
            dataType: 'application/json',
            data: {
               
                'CPno': appCPno, 'AppoinmentDate': appDate, 'AppoinmentTime': appTime, 'Note': appNote
                
            },
            success:function(response){
                alert("Appoinment booked succesfuly");
            }
        }
      
       )
    };



    function ClearDue(x) {
        var obj = $(x).parents("tr")
        $("#txtCPno").val(obj.find('td')[1].innerHTML);
        $("#txtTotalDue").val(obj.find('td')[5].innerHTML);
       
        
    }
    function SetDueAmount() {
        var CPno = $(this).attr("data-image");
        var appCPno = document.getElementById("txtCPno").value;
        var appPaidAmount = document.getElementById("txtPaidAmount").value;

        var form = $('#frmObservationDetails')[0];

        var fromData = new FormData(form);
        var urllink = '@Url.Content("~/PatientDetails/SetDueAmount")'
        $.ajax({
            type: "post",
            url: urllink,
            dataType: 'application/json',
            data: {

                'CPno': appCPno, 'PaidDue': appPaidAmount

            },
            success: function (response) {
                alert("Appoinment booked succesfuly");
            }
        }

       )
    };













    $('.whtap').click(function () {
        swal("Write something here:", {
            content: "input",
        })
.then((value) => {
    swal(`You typed: ${value}`);
});
    });

    $('.msg').click(function () {
        swal("Write something here:", {
            content: "input",
        })
.then((value) => {
    swal(`You typed: ${value}`);
});
    });




//    $('.fa.fa-calendar').click(function () {
//        swal({
//            title: "Do you want to get an Appointment?",
//            //text: "Once deleted, you will not be able to recover this imaginary file!",
//            icon: "warning",
//            //dangerMode: true,
//            buttons: true,
//            confirmButtonText: 'YES',
//            cancelButtonText: "NO",

//        })
//.then((willDelete) => {
//    if (willDelete) {
//        swal("Your Appointment Is Now Confirmed.", {
//            icon: "success",
//        });
//    }
//    else {

//        swal("You Are Successfully Canceled An Appointment", {
//            icon: "success",

//        });
//    }
//});
   // });
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>

