@model App_Layer.PatientDetails

@{
    ViewBag.Title = "PatientRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Add Patient</h2>
        </div>
    </header>

    <section class="forms">
        @using (Html.BeginForm("ManagePatientDetails", "PatientDetails", FormMethod.Post, new { @id = "frmPatientDetails" }))
        {
            @Html.HiddenFor(m => m.Id);
            <div class="container-fluid">
                <div class="row">
                    <!-- Basic Form-->
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">
                                <p>Need to fill mandatory fields.</p>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Name<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.PatientName, new { @id = "txtName", @class = "form-control", required = "required", @placeholder = "Patient Name" })
                                                @Html.ValidationMessageFor(model => model.PatientName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Gender<span class="star">*</span></label>
                                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                                     {

                                                         new SelectListItem{ Text="Male", Value = "Male" },
                                                         new SelectListItem{ Text="Female", Value = "Female" },
                                                          new SelectListItem{ Text="Other", Value = "Other" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlGender" })

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Blood Group</label>

                                                @Html.DropDownListFor(m => m.BloodGroup, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="Select Blood Group", Value = "0" },
                                                         new SelectListItem{ Text="A+", Value = "A+" },
                                                         new SelectListItem{ Text="A-", Value = "A+" },
                                                         new SelectListItem{ Text="B+", Value = "B+" },
                                                         new SelectListItem{ Text="B-", Value = "B+" },
                                                         new SelectListItem{ Text="AB+", Value = "AB+" },
                                                         new SelectListItem{ Text="AB-", Value = "AB+" },
                                                         new SelectListItem{ Text="O+", Value = "O+" },
                                                         new SelectListItem{ Text="O-", Value = "O+" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlBloodGroup" })


                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <label class="form-control-label">Date of Birth</label>
                                                @Html.TextBoxFor(m => m.DOB, new { @id = "txtDOB", @type = "Date", @class = "form-control", @placeholder = "eg.dd/mm/yyyy" })
                                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                                @*<input type="Date" placeholder="Email Address" class="form-control">*@

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Age</label>
                                                @*<input type="number" placeholder="Age" class="form-control">*@
                                                @Html.TextBoxFor(m => m.Age, new { @id = "txtAge", @class = "form-control", @maxlength = "3", @placeholder = "eg. 10" })
                                                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <label class="form-control-label">Marital Status<span class="star">*</span></label>
                                                @Html.DropDownListFor(m => m.MaritalStatus, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="Unmarried", Value = "Unmarried" },
                                                         new SelectListItem{ Text="Married", Value = "Married" },
                                                      }, new { @class = "form-control mb-3", @id = "ddlMarital" })

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Whats App No.<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.WhatsAppNo, new { @id = "txtWhatsAppNo", @class = "form-control", @maxlength = "10", required = "required", @placeholder = "eg. 0123456789" })
                                                @Html.ValidationMessageFor(model => model.WhatsAppNo, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Other No.</label>
                                                @Html.TextBoxFor(m => m.OtherNo, new { @id = "txtOtherNo", @class = "form-control", @maxlength = "10", @placeholder = "eg. 0123456789" })
                                                @Html.ValidationMessageFor(model => model.OtherNo, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Email ID</label>

                                                @Html.TextBoxFor(m => m.EmailId, new { @id = "txtEmailId", @class = "form-control", @placeholder = "eg. aaa@gmail.com" })
                                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Address<span class="star">*</span></label>

                                                @Html.TextBoxFor(m => m.Address, new { @id = "txtAddress", @class = "form-control", required = "required", @placeholder = "Address" })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Referred By Doctor</label>
                                                @Html.TextBoxFor(m => m.ReferedByDoctor, new { @id = "txtReferedByDoctor", @class = "form-control", @placeholder = "Refered By Doctor" })
                                                @Html.ValidationMessageFor(model => model.ReferedByDoctor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Doctor Address</label>
                                                @Html.TextBoxFor(m => m.DoctorAddress, new { @id = "txtDoctorAddress", @class = "form-control", @placeholder = "Doctor Address" })
                                                @Html.ValidationMessageFor(model => model.DoctorAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Case Paper Fees</label>
                                                @Html.TextBoxFor(m => m.CasePaperFees, new { @id = "txtCasePaperFees",@text="0", @class = "form-control", @maxlength = "5", @placeholder = "eg. 100" })
                                                @Html.ValidationMessageFor(model => model.CasePaperFees, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">CP Expiry Date</label>
                                                @Html.TextBoxFor(m => m.CpExpiryDate, new { @id = "txtMediclaimCompanyName", @type = "Date", @class = "form-control", @placeholder = "eg. dd/mm/yyyy" })
                                                @Html.ValidationMessageFor(model => model.CpExpiryDate, "", new { @class = "text-danger" })




                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-control-label">Mediclaim</label>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <div class="i-checks ">
                                                        <input id="radioCustom2" type="radio" checked="" value="option2" name="a" class="radio-template r-show">

                                                        <label for="radioCustom2">Yes</label>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="i-checks ">
                                                        <input id="radioCustom2" type="radio" checked="" value="option2" name="a" class="radio-template r-hide">
                                                        <label for="radioCustom2">No</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row r-click-show">
                                        <div class="col-md-4" style="display:none;">
                                            <div class="form-group">
                                                <label class="form-control-label">Mediclaim Company Name</label>
                                                @Html.TextBoxFor(m => m.MediClmCompany, new { @id = "txtMediclaimCompanyName", @class = "form-control", @placeholder = "Mediclaim Company Name" })
                                                @Html.ValidationMessageFor(model => model.MediClmCompany, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <a href="~/Home/Apoinment"><input type="button" value="Back" class="btn btn_1 btn-primary"></a>
                                            <input type="submit" value="Save" class="btn btn_2 b22 btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-12 footer-img text-right">
                    <p><span class="small">Powered by</span> <img src="img/Powered By company logo.png" class="img-responsive"></p>

                </div>
            </div>
        </div>
    </footer>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $("#txtDOB").change(function () {

        var birthDate = new Date(document.getElementById("txtDOB").value);
        var now = new Date();
        var age = now.getFullYear() - birthDate.getFullYear();
        $("#txtAge").val(age);
    });

    $("#txtCasePaperFees").val(0);
    $("#txtWhatsAppNo").val("+91");
    $("#txtOtherNo").val("+91");

      $('.r-show').click(function () {
        $('.r-click-show .col-md-4').css('display', 'block');
    });
    $('.r-hide').click(function () {
        $('.r-click-show .col-md-4').css('display', 'none');
    });
</script>