@model List<App_Layer.QueueDetails>
@{
    ViewBag.Title = "PatientAppoinment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Queue List</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <!-- <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Tables</li>
        </ul>
      </div> -->
    <section>
        <div class="container-fluid">
            <div class="row reg-counter">
                <div class="col col-12 col-md-3 col-xl-3">
                    <div class="card animated fadeInUp delay-01s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Today <br />Appointment</h6>
                                    <div class="count text-primary fs-20">213</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-3 col-xl-3">
                    <div class="card animated fadeInUp delay-02s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-wheelchair" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Today New <br /> Patients</h6>
                                    <div class="count text-primary fs-20">104</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-3 col-xl-3">
                    <div class="card animated fadeInUp delay-03s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Yesterday<br /> Patients</h6>
                                    <div class="count text-primary fs-20">24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-3 col-xl-3 time-card">
                    <div class="card animated fadeInUp delay-04s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">2020-06-09</h6><br />
                                    <div class="count text-primary fs-20">Sunday (11:20)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tables">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="grid-btn pull-right">
                                    <a href="~/PatientDetails/PatientDetails">   <input type="button" value="Add New Patient" style="margin-left: 1em;border-radius: 22px;" class="btn btn_2 btn-primary"></a>
                                </div>
                                <table id="example" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>CP No.</th>
                                            <th>Patient</th>
                                            <th>Contact</th>
                                            <th>Doctor</th>
                                            <th>Bill</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.CasePaperNo</td>
                                                <td>@item.PatientName<br />@item.Age / @item.Gender</td>
                                                <td>@item.WhatsAppNo</td>
                                                <td>@item.DoctorName</td>
                                                <td></td>
                                                <td>
                                                        <div class="form-group">
                                                            <select name="account" class="form-control mb-3">
                                                                <option>In Queue</option>
                                                                <option>With Doctor</option>
                                                                <option>Visited</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                <td>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item" data-toggle="modal" data-target="#forAppontment" title="Submit">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </li>
                                                        <li class="list-inline-item" title="Details">
                                                            <a href="~/Home/MyOPD"><i class="fa fa-history" aria-hidden="true"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" data-toggle="modal" data-target="#whatsappModal" title="Delete">
                                                            <a href="@Url.Content("~/PatientDetails/DeleteAppoinment?Id="+item.Id+"")"> <i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>CP No.</th>
                                            <th>Patient</th>
                                            <th>Contact</th>
                                            <th>Doctor</th>
                                            <th>Bill</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6">
                    <p>Your company &copy; 2017-2020</p>
                  </div> -->
                <div class="col-sm-12 footer-img text-right">
                    <p><span class="small">Powered by</span> <img src="img/Powered By company logo.png" class="img-responsive"></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header" style="border-bottom:none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Do you want to get an Appointment?</h1>
            </div>
            <div class="modal-footer" style="border-top:none;">

                <button type="button" class="btn btn_2 btn-primary">Yes</button>
                <button type="button" class="btn btn_1 btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="whatsappModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Enter your text here...</p>
                            <textarea placeholder="Enter your text here ...">            </textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="border-top:none;">

                    <button type="button" class="btn btn_2 btn-primary">Send</button>
                    <button type="button" class="btn btn_1 btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="modal fade" id="forAppontment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Do you want to get an Appointment?</h1>
                </div>
                <div class="modal-footer" style="border-top:none;">

                    <button type="button" class="btn btn_2 btn-primary">Yes</button>
                    <button type="button" class="btn btn_1 btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>*@
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>



    $('.fa.fa-times').click(function () {
        swal({
            title: "Do you want to cancel an appointment?",
            //text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            //dangerMode: true,
            buttons: true,
            confirmButtonText: 'YES',
            cancelButtonText: "NO",

        })
.then((willDelete) => {
    if (willDelete) {
        swal("Your appointment is canceled.", {
            icon: "success",
        });
    }

});
    });
    $(document).ready(function () {
        $('#example').DataTable();
    });

</script>

