@model List<App_Layer.QueueDetails>
@{
    ViewBag.Title = "PatientAppoinment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Queue List</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <!-- <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Tables</li>
        </ul>
      </div> -->
    <section>
        <div class="container-fluid">
            <div class="row reg-counter">
                <div class="col col-12 col-md-3 col-xl-3 time-card">
                    <div class="card animated fadeInUp delay-04s bg-light">
                        <div class="card-body text-center">
                            <div class="row align-items-center">
                                <div class="col col-12">
                                    <h6 class="mt-0 mb-1 time-crd">@Session["date"].ToString()</h6>
                                    <div class="count text-primary fs-20 count-1">@Session["wkday"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-3 col-xl-3">
                    <div class="card animated fadeInUp delay-01s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Today <br />Appointment</h6>
                                    <div class="count text-primary fs-20">@Session["TodayAppointment"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-3 col-xl-3">
                    <div class="card animated fadeInUp delay-02s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-wheelchair" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Today New <br /> Patients</h6>
                                    <div class="count text-primary fs-20">@Session["TodayNewPatient"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-3 col-xl-3">
                    <div class="card animated fadeInUp delay-03s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5 text-center">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                </div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Yesterday<br /> Patients</h6>
                                    <div class="count text-primary fs-20">@Session["YesterdayPatients"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="tables">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="grid-btn pull-right">
                                    <a> <input type="Date" id="txtDate" class="form-control text-letter" onchange="NextAppView(this)" placeholder="dd/mm/yyyy"></a>
                                    <a href="~/PatientDetails/PatientDetails"> <input type="button" value="Add New Patient" style="margin-left: 1em;border-radius: 22px;" class="btn btn_2 btn-primary"> </a>
                                    @*<input type="button" value="Export To Excel" style="margin-left: 1em;border-radius: 22px;" id="btnExport" class="btn btn_1 btn-primary">*@
                                </div>
                                <br /><br />
                                <table id="example" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="ID">Q. No.</th>
                                            <th>CP No.</th>
                                            <th>Patient</th>
                                            <th>Mobile No</th>
                                            <th>Doctor</th>
                                            <th>Bill (₹)</th>
                                            <th>Paid Bill (₹)</th>
                                            <th>Status</th>
                                            <th hidden>Qid</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>@item.rowNum</td>
                                                <td>@item.CasePaperNo</td>
                                                <td>@item.PatientName<br />@item.Age / @item.Gender</td>
                                                <td>@item.WhatsAppNo<br />@item.OtherNo</td>
                                                <td>@item.FirstName</td>
                                                <td>@item.Bill</td>
                                                <td>@item.Paid</td>

                                                @if (item.InQuee == 1)
                                                {
                                                    <td>With Doctor</td>

                                                }
                                                @if (item.InQuee == 2)
                                                {
                                                    <td>In Queue</td>
                                                }

                                                @if (item.InQuee == 3)
                                                {
                                                    <td>Visited</td>

                                                }

                                                @*
                                                    <div class="form-group">
                                                        <select name="account" class="form-control mb-3">
                                                            <option>In Queue</option>
                                                            <option>With Doctor</option>
                                                            <option>Visited</option>
                                                        </select>
                                                    </div>*@
                                                <td hidden>@item.Id</td>
                                                <td>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item" data-toggle="modal" data-target="#forAppontment" title="Edit">
                                                            <a href="#" data-toggle="modal" data-target="#saveAppointment" onclick="showModel(this)"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" title="Examination">
                                                            <a href="@Url.Content("~/Home/MyOPD?CPno="+item.CasePaperNo+"&QueueID="+item.Id+"")"><i class="fa fa-history" aria-hidden="true"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" data-toggle="modal" data-target="#whatsappModal" title="Delete">
                                                            <a href="#" data-toggle="modal" data-target="#DeleteAppoinment" onclick="ShowDeleteAppoinment(this)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" title="Print Bill">
                                                            <a href="@Url.Content("~/PatientDetails/PrintBill?CPno="+item.CasePaperNo+"&QueueID="+item.Id+"")"><i class="fa fa-print" aria-hidden="true"></i></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Q. No.</th>
                                            <th>CP No.</th>
                                            <th>Patient</th>
                                            <th>Mobile No</th>
                                            <th>Doctor</th>
                                            <th>Bill (₹)</th>
                                            <th>Paid Bill (₹)</th>
                                            <th>Status</th>
                                            <th hidden>Qid</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6">
                    <p>Your company &copy; 2017-2020</p>
                  </div> -->
                <div class="col-sm-12 footer-img text-right">
                    <p><span class="small">Powered by</span> <img src="img/Powered By company logo.png" class="img-responsive"></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header" style="border-bottom:none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Do you want to get an Appointment?</h1>
            </div>
            <div class="modal-footer" style="border-top:none;">

                <button type="button" class="btn btn_2 btn-primary">Yes</button>
                <button type="button" class="btn btn_1 btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saveAppointment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content save-appoint">
            <div class="modal-header" style="border-bottom:none;">
                <h3>Manage Bill</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 space-betw">
                        <div class="form-group">
                            <label class="form-control-label">Status<span class="star">*</span></label>

                            <div class="form-group">
                                @*<input type="text" id="txtStatus" class="form-control" placeholder="00:00" />*@
                                @Html.DropDownList("Status", new List<SelectListItem>
                                        {
                                        new SelectListItem{ Text="With Doctor", Value = "With Doctor" },
                                        new SelectListItem{ Text="In Queue", Value = "In Queue" },
                                        new SelectListItem{ Text="Visited", Value = "Visited" },
                                        }, new { @class = "form-control mb-3", id = "txtStatus" })


                                @*<select name="account" class="form-control mb-3">
                                        <option>In Queue</option>
                                        <option>With Doctor</option>
                                        <option>Visited</option>
                                    </select>*@
                            </div>


                        </div>
                    </div>
                    <div class="col-md-12 space-betw">
                        <label class="form-control-label">Bill (₹)</label>
                        <input type="text" id="txtBill" class="form-control" placeholder="00:00" readonly />

                    </div>
                    <div class="col-md-12 space-betw">
                        <label class="form-control-label">Paid Amount (₹)</label>
                        <input type="text" id="txtDue" class="form-control" placeholder="00.00" />
                        <input style="display:none" type="text" id="txtCPno" class="form-control" placeholder="Note" />
                        <input style="display:none" type="text" id="txtQid" class="form-control" placeholder="Note" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top:none;">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" onclick="SetStatus(this)" class="btn btn_1 btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DeleteAppoinment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content save-appoint">
            <div class="modal-header" style="border-bottom:none;">
                <h3>Cancel Appinment</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12 space-betw">
                        <div class="form-group">
                            <label style="display:none" class="form-control-label">Remark<span class="star">*</span></label>
                            <input type="text" value="Cancled" style="display:none" id="txtNote" class="form-control" placeholder="Note" />
                            <input type="text" style="display:none" id="txtQueueId" class="form-control" placeholder="" />
                            <input type="text" style="display:none" id="txtCP" class="form-control" placeholder="" />
                            <input type="text" style="display:none" id="txtNo" class="form-control" placeholder="" />
                        </div>
                    </div>


                </div>
                <div class="modal-footer" style="border-top:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" onclick="DeleteAppoinment(this)" class="btn btn_1 btn-primary" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    //datata table functionality
    //$(document).ready(function () {
    //    $('#example').DataTable();
    //});

    function NextAppView(x) {
        var date1 = document.getElementById("txtDate").value;
        var fromData = new FormData(form);
        var form = $('#frmObservationDetails')[0];
        var urllink = '@Url.Content("~/PatientDetails/GetQueueListByDate")'
        $.ajax({
            type: "post",
            url: urllink,
            dataType: 'application/json',
            data: {

                'Date': date1
            },
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.Status === 1) {
                    alert(data.Message);
                } else {
                    alert("Record not found.");
                }
            }
        }

       )
    };
    function ShowDeleteAppoinment(x) {

        var obj = $(x).parents("tr")
        $("#txtQueueId").val(obj.find('td')[8].innerHTML);
        $("#txtCP").val(obj.find('td')[1].innerHTML);
        var mob = obj.find('td')[3].innerHTML;
        $("#txtNo").val(mob.substr(0, 10));
    }

    function DeleteAppoinment(x) {
        debugger;
        var QueueId = document.getElementById("txtQueueId").value;
        var Note = document.getElementById("txtNote").value;
        var CPno = document.getElementById("txtCP").value;
        var MbNo = document.getElementById("txtNo").value;

        var form = $('#frmObservationDetails')[0];

        var fromData = new FormData(form);
        var urllink = '@Url.Content("~/PatientDetails/DeleteAppoinment")'
        debugger;
        $.ajax({
            type: "post",
            url: urllink,
            dataType: 'application/json',
            data: {

                'Id': QueueId, 'Note': Note, 'CPno': CPno, 'MbNo': MbNo
            },
            success: function (response) {
                if (confirm('Record delete successfuly..1')) {
                    window.location.href = '/PatientDetails/GetQueueList'
                }
            }
        }

       )
    };
    function showModel(x) {
        var obj = $(x).parents("tr")
        $("#txtQid").val(obj.find('td')[8].innerHTML);
        $("#txtCPno").val(obj.find('td')[1].innerHTML);
        $("#txtStatus").val(obj.find('td')[7].innerHTML);
        $("#txtBill").val(obj.find('td')[5].innerHTML);
        $("#txtDue").val(obj.find('td')[6].innerHTML);

    }

    function SetStatus(x) {
        var appCPno = document.getElementById("txtCPno").value;
        var appStatus = document.getElementById("txtStatus").value;
        var appBill = document.getElementById("txtBill").value;
        var appPaidBill = document.getElementById("txtDue").value;
        var appQId = document.getElementById("txtQid").value;
        $.ajax({
            type: "POST",
            url: "/PatientDetails/GetData",
            data: '{Qid: "' + appQId + '",CPno:"' + appCPno + '",Bill:"' + appBill + '",paidBill:"' + appPaidBill + '", Status:"' + appStatus + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                // if (confirm('Data updated successfuly..')) {
                window.location.href = '/PatientDetails/GetQueueList'
                //}
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function SetStatus1(x) {

        debugger;
        var CPno = $(this).attr("data-image");
        var appCPno = document.getElementById("txtCPno").value;
        var appStatus = document.getElementById("txtStatus").value;
        var appBill = document.getElementById("txtBill").value;
        var appPaidBill = document.getElementById("txtDue").value;
        var appQId = document.getElementById("txtQid").value;

        var form = $('#frmObservationDetails')[0];

        var fromData = new FormData(form);
        var urllink = '@Url.Content("~/PatientDetails/SetStatus")'
        debugger;
        $.ajax({
            type: "post",
            url: urllink,
            dataType: 'application/json',
            data: {

                'Qid': appQId, 'CPno': appCPno, 'Bill': appBill, 'paidBill': appPaidBill, 'Status': appStatus
            },
            success: function (response) {
                alert("successfully saved...");
            }
        }

       )
    };








    //    $('.fa.fa-times').click(function () {
    //        swal({
    //            title: "Do you want to cancel an appointment?",
    //            //text: "Once deleted, you will not be able to recover this imaginary file!",
    //            icon: "warning",
    //            //dangerMode: true,
    //            buttons: true,
    //            confirmButtonText: 'YES',
    //            cancelButtonText: "NO",

    //        })
    //.then((willDelete) => {
    //    if (willDelete) {
    //        swal("Your appointment is canceled.", {
    //            icon: "success",
    //        });
    //    }

    //});
    //    });



    //$("#btnExport").click(function () {
    //    $("#example").table2excel();
    //});

</script>
