
@{
    ViewBag.Title = "MyOPD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Patient Examination</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <!-- <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Tables</li>
        </ul>
      </div> -->
    <section>
        <div class="container-fluid">
            <div class="row reg-counter">
                <div class=" col-md-12">
                    <div class="card animated fadeInUp delay-01s bg-light">
                        <div class="card-body patient-det">
                            <div class="row align-items-center">
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Patient Name</h6>
                                    <div class="count text-primary fs-20"> @Session["PatientName"].ToString()</div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Gender</h6>
                                    <div class="count text-primary fs-20">@Session["PatientGender"].ToString()</div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Age</h6>
                                    <div class="count text-primary fs-20">@Session["PatientAge"].ToString()</div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Visit No.</h6>
                                    <div class="count text-primary fs-20">@Session["PatientVisit"].ToString()</div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Prv. Balance</h6>
                                    <div class="count text-primary fs-20">@Session["PatientPrvBalance"].ToString()</div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Blood Group</h6>
                                    <div class="count text-primary fs-20">@Session["BloodGroup"].ToString()</div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid accordn">
            <div class="row ">
                <div class="col col-12 col-md-12 col-xl-">
                    <div class="card animated fadeInUp delay-01s bg-light">
                        <div class="card-body patient-det">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    @if (Session["RoleId"].ToString() == "AHE")
                                    {
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-patient-tab" data-toggle="pill" href="#" data-request-url="@Url.Action("OpdPatientDetails", "MyOPD")" role="tab" aria-controls="pills-patient" aria-selected="true">Patient Details</a>
                                            </li>



                                        </ul>
                                    }
                                    else
                                    {
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-patient-tab" data-toggle="pill" href="#" data-request-url="@Url.Action("OpdPatientDetails", "MyOPD")" role="tab" aria-controls="pills-patient" aria-selected="true">Patient Details</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-precription-tab" data-toggle="pill" href="#" data-request-url="@Url.Action("OpdPrescription", "MyOPD")" role="tab" aria-controls="pills-precription" aria-selected="false">Examination</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-examination-tab" data-toggle="pill" href="#" data-request-url="@Url.Action("OpdExamination", "MyOPD")" role="tab" aria-controls="pills-examination" aria-selected="false">Precription</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#" data-request-url="@Url.Action("OpdHistory", "MyOPD")" role="tab" aria-controls="pills-history" aria-selected="false">History</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-billing-tab" data-toggle="pill" href="#" data-request-url="@Url.Action("OpdBilling", "MyOPD")" role="tab" aria-controls="pills-billing" aria-selected="false">Billing</a>
                                            </li>
                                            @*<li class="nav-item">
                                                <a class="nav-link" id="pills-certificate-tab" data-toggle="pill" href="#" data-request-url="@Url.Action("DocumentCertificate", "MyOPD")" role="tab" aria-controls="pills-certificate" aria-selected="false">Document Certificate</a>
                                            </li>*@


                                        </ul>
                                    }

                                </div>
                                <br>
                                <div class="col-md-12 tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-patient" role="tabpanel" aria-labelledby="pills-patient-tab">
                                        <div class="bs-example">
                                            <div id="tabpanel"></div>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6">
                    <p>Your company &copy; 2017-2020</p>
                  </div> -->
                <div class="col-sm-12 footer-img text-right">
                    <p><span class="small">Powered by</span> <img src="img/Powered By company logo.png" class="img-responsive"></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "/MyOPD/OpdPatientDetails";

        $("#tabpanel").load(url);
    });
    $("#pills-precription-tab").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabpanel").load(url);
    });
    $("#pills-patient-tab").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabpanel").load(url);
    });
    $("#pills-examination-tab").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabpanel").load(url);
    });
    $("#pills-history-tab").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabpanel").load(url);
    });
    $("#pills-billing-tab").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabpanel").load(url);
    });


</script>
