@model App_Layer.LaboratoryDetails
@{
    ViewBag.Title = "LaboratoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ManageLaboratoryDetails", "LaboratoryDetails", FormMethod.Post, new { @id = "frmLaboratoryDetails" }))
{
    @Html.HiddenFor(m => m.Id, new { @id = "hdnId" });
    <div class="">
        <header class="page-header">
            <div class="container-fluid">
                <h2 class="no-margin-bottom">Laboratory</h2>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Select<span class="star">*</span></label>
                                            <select name="account" class="form-control mb-3">
                                                <option>Select </option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="checkbox checked" style="border: none; margin: 0 auto ; padding: 0;" id="tblPrint">
            <tr>
                <td style="padding: 0; background-color: #FFFFFF;">

                    <div style="min-width:200px; font-family:'Arial' , sans-serif; font-size:16px; background-color:#FFFFFF; line-height:1.4; color:#4A4A4A; border:1px solid #DFDFDF; overflow:hidden;">

                        <div style="background-color: #f5a433; height: 60px;">
                        </div>

                        <header style="text-align: center;">
                            <img src="img/banner.png"
                                 style="display: block; background-size: cover; width: 100%;">
                        </header>
                        <div class="row">
                            <!-- Basic Form-->
                            <div class="col-lg-12">
                                <div class="card" style="margin-bottom:0;">
                                    <div class="card-body">
                                        <p>Need to fill mandatory fields.</p>
                                        <div class="form-inline lab_1-data" action="/action_page.php">

                                            <div class="form-group">
                                                <label for="patient" class="form-control-label">Name of Patient</label>
                                                <label class="form-control-label">Name<span class="star">*</span></label>
                                                @Html.TextBoxFor(m => m.PatientName, new { @id = "txtPatientName", @class = "form-control", required = "required", @placeholder = "Name" })

                                            </div>
                                            <div class="form-group">
                                                <label for="Age" class="form-control-label">Age</label>
                                                @Html.TextBoxFor(m => m.Age, new { @id = "txtAge", @class = "form-control", required = "required", @placeholder = "Age" })


                                            </div>
                                            <div class="form-group">
                                                <label for="Age" class="form-control-label">Gender</label>
                                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                              {
                                                  new SelectListItem{ Text="Male", Value = "Male" },
                                                  new SelectListItem{ Text="Female", Value = "Female" },
                                                  new SelectListItem{ Text="Other", Value = "Other" },
                                               }, new { @class = "form-control mb-3", @id = "ddlGender" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-inline lab_1-data">
                                            <div class="form-group">
                                                <label for="Address" class="form-control-label">Address</label>
                                                @Html.TextBoxFor(m => m.Addres, new { @id = "txtAddres", @class = "form-control", required = "required", @placeholder = "Addres" })

                                            </div>
                                            <div class="form-group">
                                                <label for="Date" class="form-control-label">Date</label>
                                                <input type="Date" class="form-control text-letter">
                                            </div>
                                            <div class="form-group">
                                                <label for="Age" class="form-control-label">Ref. by Dr.</label>
                                                @Html.TextBoxFor(m => m.ReferedByDoctor, new { @id = "txtRefDr", @class = "form-control", required = "required", @placeholder = "Ref. by Dr." })

                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-inline lab_1-data" action="/action_page.php">
                                            <div class="form-group">
                                                <label for="Address" class="form-control-label">Mobile No.</label>
                                                @Html.TextBoxFor(m => m.ContactNo, new { @id = "txtMobileNumber", @class = "form-control", required = "required", @placeholder = "Mobile Number" })

                                            </div>
                                        </div>

                                        <hr>
                                        <div class="row letter-li">
                                            <div class="col-md-6">
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td>
                                                            <h4>HEMATOLOGY & CLINICAL PATHOLOGY</h4>
                                                            <br>
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.HB, new { @class = "checkbox-template" });
                                                                    &nbsp;HB
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.CBCPlateletCount, new { @class = "checkbox-template" });
                                                                    &nbsp;CBC Platelet Count
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.CBCwithESR, new { @class = "checkbox-template" });
                                                                    &nbsp;CBC with ESR
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.HB, new { @class = "checkbox-template" });
                                                                    &nbsp;Malarial Parasite
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.AbsoluteEoslnophilicCunt, new { @class = "checkbox-template" });
                                                                    &nbsp;Absolute Eosinophilic Count
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.ReticCountLDH, new { @class = "checkbox-template" });
                                                                    &nbsp;Retic Count / LDH
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.BloodGroupRHtype, new { @class = "checkbox-template" });
                                                                    &nbsp;Blood Group / RH Type
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.BleedingTimeClttingTime, new { @class = "checkbox-template" });
                                                                    &nbsp;Bleeding Time / Clotting Time
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.ProthrombinTime, new { @class = "checkbox-template" });
                                                                    &nbsp;Prothrombin Time (PT INR)

                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.UrineRoutineMicro, new { @class = "checkbox-template" });
                                                                    &nbsp;Urine Routine / Micro
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.BilealtsBilePigments, new { @class = "checkbox-template" });
                                                                    &nbsp;Bile Salt & Bile Pigments
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.PregnancyTest, new { @class = "checkbox-template" });
                                                                    &nbsp;Pregnancy Test
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.StoolRoutineRS, new { @class = "checkbox-template" });
                                                                    &nbsp;Stool Routine / Reducing Substance
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.StoolRRS, new { @class = "checkbox-template" });
                                                                    &nbsp;Stool For Occ. Blood
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h4>SEROLOGICAL TESTS</h4>
                                                            <br>
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.WidalTest, new { @class = "checkbox-template" });
                                                                    &nbsp;Widal Test
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.BrucellaTest, new { @class = "checkbox-template" });
                                                                    &nbsp;Brucella Test
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.VDRL, new { @class = "checkbox-template" });
                                                                    &nbsp;V. D. R. L.
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.RATest, new { @class = "checkbox-template" });
                                                                    &nbsp;R. A. Test
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.ASO, new { @class = "checkbox-template" });
                                                                    &nbsp;A. S. O.
                                                                </li>
                                                                <ul class="list-unstyled">
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.CRP, new { @class = "checkbox-template" });
                                                                        &nbsp;C. R. P.
                                                                    </li>
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.HIVTest, new { @class = "checkbox-template" });
                                                                        &nbsp;H. I. V. Test (Spot)
                                                                    </li>
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.AustraliaAntigen, new { @class = "checkbox-template" });
                                                                        &nbsp;Australia Antigen (HBsAg)
                                                                    </li>
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.HCVTest, new { @class = "checkbox-template" });
                                                                        &nbsp;HCV Test
                                                                    </li>
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.TBTest, new { @class = "checkbox-template" });
                                                                        &nbsp;T. B. Gold
                                                                    </li>
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.TirchIgGIgm, new { @class = "checkbox-template" });
                                                                        &nbsp;TORCH IgG / IgM
                                                                    </li>
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.DengueFeverTest, new { @class = "checkbox-template" });
                                                                        &nbsp;Dengue Fever Test
                                                                    </li>
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.ChikunGunyaTest, new { @class = "checkbox-template" });
                                                                        &nbsp;Chikungunya Test
                                                                    </li>
                                                                    <li>
                                                                        @Html.CheckBoxFor(model => model.WeilFelixTest, new { @class = "checkbox-template" });
                                                                        &nbsp;Weil Felix Test
                                                                    </li>
                                                                </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h4>BIOCHEMISTRY</h4>
                                                            <br>
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.BloodSugar, new { @class = "checkbox-template" });
                                                                    &nbsp;Blood Sugar (F / PP / R)
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.HBAC, new { @class = "checkbox-template" });
                                                                    &nbsp;HBA1C
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.BloodUrea, new { @class = "checkbox-template" });
                                                                    &nbsp;Blood Urea
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrCreatinine, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Creatinine
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.TropTCpkMb, new { @class = "checkbox-template" });
                                                                    &nbsp;Trop. T / CPK-MB
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.AllCardiacMarkers, new { @class = "checkbox-template" });
                                                                    &nbsp;All Cardiac Markers
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrAmylaseLipaseAmmonia, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Amylase / Lipase / Ammonia
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrPhosphorous, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Phosphorous
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrUricAcid, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Uric Acid
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrMangnesium, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Mangnesium
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <h4>HARMONAL ASSAY</h4>
                                                            <br>
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.TTTSH, new { @class = "checkbox-template" });
                                                                    &nbsp;T3, T4, TSH
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.LHFSHProTestosterone, new { @class = "checkbox-template" });
                                                                    &nbsp;LH, FSH, Prolacin, Testosterone
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h4>MICROBIOLOGY</h4>
                                                            <br />
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.UrineCultureSensitivity, new { @class = "checkbox-template" });
                                                                    &nbsp;Urine Culture & Sensitivity
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SputumRoutinAfbCS, new { @class = "checkbox-template" });
                                                                    &nbsp;Sputum Routine / AFB / C / S
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h4>LFT</h4>
                                                            <br />
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrBilirubin, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Bilirubin
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SGOT, new { @class = "checkbox-template" });
                                                                    &nbsp;S. G. O. T.
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SGPT, new { @class = "checkbox-template" });
                                                                    &nbsp;S. G. P. T.
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.AlkPhosphatase, new { @class = "checkbox-template" });
                                                                    &nbsp;Alk. Phosphatase
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SProteins, new { @class = "checkbox-template" });
                                                                    &nbsp;S. Proteins
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h4>LIPID PROFILE</h4>
                                                            <br />
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrCholesterol, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Cholesterol
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.HDL, new { @class = "checkbox-template" });
                                                                    &nbsp;HDL
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrTriglyceride, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Triglyceride
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h4>Sr. ELECTROLYTES</h4>
                                                            <br />
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.NaK, new { @class = "checkbox-template" });
                                                                    &nbsp;Na+, K+
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.SrCalcium, new { @class = "checkbox-template" });
                                                                    &nbsp;Sr. Calcium
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h4>FLUID EXAMINATION</h4>
                                                            <br />
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.CSFExamination, new { @class = "checkbox-template" });
                                                                    &nbsp;C.S.F. Examination
                                                                </li>
                                                                <li>
                                                                    @Html.CheckBoxFor(model => model.AsciticPleuralFluidCytology, new { @class = "checkbox-template" });
                                                                    &nbsp;Ascitic / Pleural Fluid Cytology
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row letter-li">
                                            <div class="col-md-12">
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td>
                                                            <h4>Clinical History</h4>
                                                            <div class="form-group">
                                                                @Html.TextBoxFor(m => m.ClinicalHistory, new { @id = "txtClinicalHistory", @class = "form-control", required = "required", @placeholder = "ClinicalHistory" })
                                                                @Html.ValidationMessageFor(model => model.ClinicalHistory, "", new { @class = "text-danger" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="submit" value="Save" class="btn btn_2 btn-primary b22">
                <input type="button" value="Print" onclick='PrintDiv("tblPrint")' class="btn btn_1 btn-primary">
                <input type="button" value="Share on Whatsapp" class="btn whatsapp-btn btn_2 btn-primary">
            </div>
        </div>
    </div>
}
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script type="text/javascript" language="javascript">
    function PrintDiv(divID) {
        //Get the HTML of div
        var divElements = document.getElementById(divID).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
            "<html><head><title></title></head><body>" +
            divElements + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;


    }

</script>


















































